In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")

In [3]:
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")

In [4]:
p_name = []
start = 0
end = 35
for page in range (start,end):
    name = driver.find_elements (By.XPATH,'//h3[@class="lister-item-header"]')
    for i in name [0:100]:
        name = (i.text)
        p_name.append(name)
    next_button = driver.find_element (By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()
    time.sleep(3)

In [6]:
m_names = []
years = []
s_nos = []

for i in p_name:
    a = i.split()[1:-1]
    b = i.split()[-1]
    b = b.replace("(", "")
    b = b.replace(")", "")
    c = " ".join(a)
    d = i.split()[0]
    m_names.append(c)
    years.append(b)
    s_nos.append(d.strip('.'))

In [7]:
geners = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in range (start,end):
    title = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in title:
        i = i.text.strip()
        geners.append(str(i))
    next_button = driver.find_element (By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()
    time.sleep(3)
geners

['Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Animation, Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Drama',
 'Action, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Drama',
 'Action, Drama, Mystery',
 'Action, Drama, Mystery',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Animation, Action, Adventure',
 'Action, Adventure',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, Mystery',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Crime',
 'Action, Drama',
 'Action, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Fantasy',
 'Animation, Action, Adventure',
 'Action, Adventure, Mystery',
 'Action, Biography, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Crime, Thriller',
 'Action, Biography, Drama',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Fantasy',
 'Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, War',
 'Action, Crime, Thriller',
 'Action, Thriller',
 'Action, Drama, Sci-Fi',
 'Action, Drama, War',
 'Animation, Action, Adventure',
 'Action, Comedy, Crime',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Drama',
 'Action, Drama, War',
 'Action, Comedy, Romance',
 'Action, Drama',
 'Action, Drama, History',
 'Action, Crime, Drama',
 'Action, Biography, Crime',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Drama, Sci-Fi',
 'Action, Sci-Fi',
 'Action, Biography, Drama',
 'Action, Drama, Sci-Fi',
 'Action, Drama, Sport',
 'Action, Biography, Drama',
 'Action, Comedy, Crime',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Animation, Action, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Action, Adventure, Drama',
 'Action, Adventure, Comedy',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Action, Biography, Drama',
 'Action, Drama',
 'Action, Crime, Drama',
 'Action, Comedy, Crime',
 'Action, Thriller',
 'Action, Adventure, Thriller',
 'Action, Adventure, Drama',
 'Action, Drama, Mystery',
 'Action, Adventure, Comedy',
 'Action, Adventure, Drama',
 'Action, Comedy',
 'Action, Sci-Fi',
 'Animation, Action, Adventure',
 'Action, Adventure, Thriller',
 'Action, Crime, Thriller',
 'Animation, Action, Drama',
 'Action, Mystery, Thriller',
 'Action, Biography, Drama',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Drama',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Drama, War',
 'Action, Crime, Drama',
 'Action, Adventure, Fantasy',
 'Action, Drama, Thriller',
 'Action, Comedy, Romance',
 'Action, Drama, Romance',
 'Action, Thriller',
 'Action, Biography, Drama',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Action, Mystery, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, Sci-Fi',
 'Action, Sci-Fi, Thriller',
 'Action, Drama, Western',
 'Animation, Action, Crime',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Adventure, Romance',
 'Action, Drama, History',
 'Action, Crime, Thriller',
 'Action, Drama, History',
 'Action, Thriller',
 'Action, Drama, History',
 'Action, Crime, Thriller',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Action, Drama',
 'Action, Comedy, Crime',
 'Action, Drama, War',
 'Action, Comedy, Fantasy',
 'Action, Drama',
 'Action, Comedy, Mystery',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Horror',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Crime, Thriller',
 'Action, Sci-Fi',
 'Action, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Crime',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Biography',
 'Action, Biography, Drama',
 'Action, Adventure, Sci-Fi',
 'Animation, Action, Adventure',
 'Action, Crime, Thriller',
 'Animation, Action, Fantasy',
 'Animation, Action, Adventure',
 'Action, Adventure, Drama',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Adventure, Biography',
 'Animation, Action, Adventure',
 'Animation, Action, Crime',
 'Action, Crime, Drama',
 'Action, Crime, Comedy',
 'Action, Comedy, Drama',
 'Action, Adventure, Thriller',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Action, Drama, History',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Animation, Action, Adventure',
 'Action, Thriller',
 'Action, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Mystery, Thriller',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Comedy, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Biography, Crime',
 'Action, Crime, Thriller',
 'Action, Drama, History',
 'Action, Adventure, War',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Crime, Thriller',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Comedy, Drama',
 'Action, Adventure, Fantasy',
 'Action, Drama, Mystery',
 'Action, Adventure, Comedy',
 'Action, Drama',
 'Action, Adventure, Comedy',
 'Action, Crime, Drama',
 'Action, Crime, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, War',
 'Action, Comedy, Crime',
 'Action, Crime, Mystery',
 'Action, Horror, Thriller',
 'Action, Adventure, Family',
 'Animation, Action, Adventure',
 'Action, Adventure, Fantasy',
 'Action, Crime, Thriller',
 'Action, Crime, Thriller',
 'Action, Comedy, Horror',
 'Animation, Action, Adventure',
 'Action, Adventure, Mystery',
 'Action, Drama, Sport',
 'Action, Adventure, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Drama, Sci-Fi',
 'Action, Crime, Thriller',
 'Action, Adventure, Crime',
 'Action, Adventure, Drama',
 'Action, Biography, Drama',
 'Action, Adventure, Drama',
 'Animation, Action, Drama',
 'Action, Biography, Crime',
 'Action, Drama, History',
 'Action, Adventure, Drama',
 'Action, Drama, History',
 'Action, Adventure, War',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Animation, Action, Drama',
 'Action, Comedy, Crime',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Drama, Thriller',
 'Action, Comedy, Crime',
 'Action, Thriller, War',
 'Action, Adventure',
 'Action, Adventure',
 'Action, Comedy, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Thriller',
 'Action, Adventure, Family',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Drama, Mystery',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, War',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Action, Comedy, Drama',
 'Action, Adventure, Thriller',
 'Action, Drama, History',
 'Action, Horror, Thriller',
 'Action, Adventure, Comedy',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Drama, History',
 'Action, Biography, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Comedy',
 'Action, Thriller',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Biography, Crime',
 'Action, Drama, History',
 'Action, Biography, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Comedy, Crime',
 'Action, Crime, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Thriller',
 'Action, Adventure, Fantasy',
 'Action, Drama, History',
 'Action, Crime, Thriller',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Drama, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Drama, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Sci-Fi, Thriller',
 'Action, Crime, Drama',
 'Action, Drama, Romance',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Animation, Action, Adventure',
 'Action, Adventure, Mystery',
 'Action, Crime, Drama',
 'Action, Comedy',
 'Action, Adventure, Drama',
 'Action, Comedy',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Biography, Crime',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Comedy',
 'Action, Comedy, Thriller',
 'Action, Adventure, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Biography, Drama',
 'Action, Drama, Family',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Thriller',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Horror',
 'Action, Drama, History',
 'Action, Comedy, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Crime, Sci-Fi',
 'Action, Drama, Western',
 'Action, Comedy, Crime',
 'Action, Crime, Thriller',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Drama, Sci-Fi',
 'Action, Thriller',
 'Animation, Action, Comedy',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Comedy, Fantasy',
 'Action, Crime, Thriller',
 'Action, Adventure, Biography',
 'Action, Drama, Thriller',
 'Action, Comedy, Crime',
 'Action, Adventure, Comedy',
 'Action, Crime, Drama',
 'Action, Adventure, Family',
 'Action, Crime, Thriller',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Biography, Crime',
 'Action, Drama, Mystery',
 'Action, Adventure, Drama',
 'Action, Biography, Crime',
 'Action, Crime, Thriller',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Crime, Horror',
 'Action, Adventure, Thriller',
 'Action, Adventure, Comedy',
 'Action, Crime, Thriller',
 'Action, Comedy, Crime',
 'Action, Biography, Drama',
 'Action, Drama, History',
 'Action, Biography, Drama',
 'Action, Crime, Romance',
 'Action, Horror, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Adventure, Romance',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Drama, Horror',
 'Animation, Action, Adventure',
 'Action, Sci-Fi',
 'Action, Comedy',
 'Action, Adventure, Thriller',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Crime, Thriller',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Drama, Sport',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Action, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Adventure, Drama',
 'Action, Comedy, Crime',
 'Action, Drama, Western',
 'Action, Drama, Romance',
 'Action, Crime, Drama',
 'Action, Crime, Thriller',
 'Action, Drama, History',
 'Action, Mystery, Thriller',
 'Action, Adventure, Drama',
 'Action, Crime, Mystery',
 'Action, Crime, Drama',
 'Action, Drama, History',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Action, Biography, Drama',
 'Action, Crime, Mystery',
 'Action, Crime, Thriller',
 'Action, Adventure, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, War',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Comedy, Crime',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Fantasy',
 'Action, Drama, Sci-Fi',
 'Action, Drama, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Horror, Sci-Fi',
 'Action, Crime, Thriller',
 'Action, Drama, Thriller',
 'Animation, Action, Adventure',
 'Action, Mystery, Sci-Fi',
 'Action, Drama, Sport',
 'Action, Crime, Sci-Fi',
 'Action, Drama, History',
 'Action, Crime, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Biography',
 'Action, Drama, Sci-Fi',
 'Action, Drama, Sport',
 'Action, Thriller',
 'Action, Drama, History',
 'Action, Thriller',
 'Action, Crime, Drama',
 'Action, Drama, Romance',
 'Action, Adventure, Drama',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Comedy',
 'Action, Drama, History',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Crime, Thriller',
 'Action, Adventure, Biography',
 'Action, Drama, History',
 'Action, Drama, War',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Action, Crime, Sci-Fi',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Crime, Thriller',
 'Action, Comedy, Crime',
 'Action, Sci-Fi, Thriller',
 'Action, Drama, Romance',
 'Action, Drama, History',
 'Action, Drama, Romance',
 'Action, Crime, Drama',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Crime',
 'Action, Adventure, Drama',
 'Action, Adventure, Horror',
 'Action, Mystery, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Fantasy',
 'Action, Thriller',
 'Action, Comedy, Crime',
 'Action, Drama, History',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Fantasy, Horror',
 'Action, Crime, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Mystery, Sci-Fi',
 'Action, Comedy',
 'Action, Crime, Thriller',
 'Action, Fantasy, Thriller',
 'Action, Biography, Crime',
 'Action, Comedy, Crime',
 'Action, Drama, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Crime, Drama',
 'Action, Adventure, Horror',
 'Action, Adventure, Crime',
 'Action, Comedy, Horror',
 'Action, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Drama, Thriller',
 'Action, Adventure, Thriller',
 'Animation, Action, Adventure',
 'Action, Thriller',
 'Action, Drama, Thriller',
 'Action, Adventure, Comedy',
 'Action, Horror, Sci-Fi',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Crime, Thriller',
 'Action, Adventure, Drama',
 'Action, Adventure, Fantasy',
 'Action, Comedy, Crime',
 'Action, Crime, Thriller',
 'Action, Comedy, Crime',
 'Action, Biography, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Action, Sci-Fi, Thriller',
 'Action, Crime, Drama',
 'Action, Comedy, Crime',
 'Action, Adventure, Comedy',
 'Action, Biography, Drama',
 'Action, Crime, Drama',
 'Action, Drama, Romance',
 'Action, Crime, Thriller',
 'Action, Drama, Romance',
 'Action, Drama, Romance',
 'Action, Comedy, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Action, Adventure, Fantasy',
 'Action, War',
 'Action, Adventure, Thriller',
 'Action, Drama',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Crime, Drama',
 'Action, Drama, History',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Crime',
 'Action, Adventure, Horror',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Adventure, Biography',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, History',
 'Action, Crime, Thriller',
 'Action, Crime, Drama',
 'Action, Adventure, Romance',
 'Action, Sci-Fi',
 'Action, Comedy, Crime',
 'Action, Adventure, Drama',
 'Action, Adventure, Fantasy',
 'Action, Comedy, Sci-Fi',
 'Action, Adventure, Mystery',
 'Action, Adventure, Family',
 'Action, Biography, Drama',
 'Action, Crime, Thriller',
 'Animation, Action, Adventure',
 'Action, Adventure, Comedy',
 'Action, Comedy, Crime',
 'Action, Adventure, Comedy',
 'Action, Adventure, Drama',
 'Action, Adventure, Thriller',
 'Action, Crime, Drama',
 'Action, Drama, Sci-Fi',
 'Action, Mystery, Thriller',
 'Action, Comedy, Crime',
 'Action, Comedy, Crime',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Biography, Drama',
 'Action, Adventure, Drama',
 'Action, Comedy, Horror',
 'Action, Crime, Thriller',
 'Action, Drama, Thriller',
 'Action, Comedy, Fantasy',
 'Action, Drama, War',
 'Action, Adventure, Drama',
 'Action, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Action, Crime, Drama',
 'Action, Crime, Thriller',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Comedy, Crime',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Adventure',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Horror',
 'Action, Crime, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Mystery, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Drama, Western',
 'Action, Adventure, Thriller',
 'Action, Adventure, Comedy',
 'Action, Adventure, Fantasy',
 'Action, Comedy, Fantasy',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Sci-Fi, Thriller',
 'Action, Thriller',
 'Action, Comedy, Crime',
 'Action, Horror, Thriller',
 'Action, Biography, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Comedy',
 'Action, Adventure, Fantasy',
 'Action, Crime, Fantasy',
 'Action, Crime, Thriller',
 'Action, Mystery, Thriller',
 'Action, Thriller',
 'Action, Drama, Horror',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, History',
 'Action, Drama, Romance',
 'Action, Adventure, Thriller',
 'Action, Crime, Drama',
 'Animation, Action, Adventure',
 'Action, Adventure, Comedy',
 'Action, Crime, Drama',
 'Action, Drama, Thriller',
 'Action, Crime, Thriller',
 'Action, Biography, Crime',
 'Action, Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Action, Comedy, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Crime, Thriller',
 'Action, Drama, History',
 'Action, Thriller',
 'Action, Crime, Thriller',
 'Action, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Action, Comedy, Crime',
 'Action, Adventure, Drama',
 'Action, Adventure, Fantasy',
 'Action, Sci-Fi',
 'Action, Adventure, Thriller',
 'Action, Thriller',
 'Action, Thriller',
 'Action, Thriller',
 'Action, Sci-Fi, Thriller',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Thriller',
 'Action, Adventure, Crime',
 'Action, Comedy, Crime',
 'Action, Drama, Thriller',
 'Action, Crime, Drama',
 'Action, Adventure, Thriller',
 'Action, Adventure, Biography',
 'Action, Comedy, Horror',
 'Action, Adventure, Sci-Fi',
 'Action, Horror, Mystery',
 'Action, Thriller',
 'Action, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Horror, Sci-Fi',
 'Action, Comedy, Crime',
 'Action, Adventure, Thriller',
 'Action, Comedy',
 'Action, Adventure, Comedy',
 'Action, Mystery, Thriller',
 'Action, Crime, Drama',

In [375]:
import pandas as pd
df4 = pd.DataFrame({"Geners":geners})

df4[["Geners-1","Geners-2","Geners-3"]] = df4.Geners.str.split(",", expand = True)
df4.drop("Geners",axis=1,inplace=True)

In [376]:
from tqdm import tqdm

In [514]:
votess = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
    for i in title:
        i = i.text.strip()
        votess.append(i)
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()
    time.sleep(3)
vottep = []
for i in votess:
    i=(i.split()[1])
    vottep.append((i))

100%|██████████| 35/35 [04:26<00:00,  7.61s/it]

In [654]:
gross_incom = []
for i in votess:
    i=(i.split()[-1])
    gross_incom.append((i))

In [655]:
gross_incom

['$534.86M',
 '$377.85M',
 '200,597',
 '$292.58M',
 '$315.54M',
 '$342.55M',
 '$171.48M',
 '$290.48M',
 '120,247',
 '$204.84M',
 '$322.74M',
 '$0.27M',
 '62,713',
 '61,852',
 '$187.71M',
 '$19.50M',
 '$448.14M',
 '$858.37M',
 '$190.24M',
 '$248.16M',
 '$85.16M',
 '$0.71M',
 '$678.82M',
 '36,986',
 '31,652',
 '$718.73M',
 '$67.44M',
 '$13.28M',
 '$309.13M',
 '$2.38M',
 '$12.39M',
 '97,259',
 '65,139',
 '$6.60M',
 '125,825',
 '47,652',
 '$206.85M',
 '$804.75M',
 '$402.45M',
 '$159.23M',
 '$197.17M',
 '$70.10M',
 '$70.51M',
 '$83.01M',
 '$4.14M',
 '$47.70M',
 '100,118',
 '127,154',
 '92,906',
 '$20.19M',
 '$0.98M',
 '$4.19M',
 '$3.51M',
 '48,380',
 '109,405',
 '$0.04M',
 '$154.06M',
 '$305.41M',
 '$38.40M',
 '$32.87M',
 '$117.62M',
 '$226.28M',
 '$13.66M',
 '$26.95M',
 '$3.90M',
 '$217.58M',
 '$23.16M',
 '59,753',
 '40,811',
 '34,599',
 '$1.03M',
 '80,609',
 '70,045',
 '$8.18M',
 '57,473',
 '30,878',
 '26,364',
 '28,521',
 '36,122',
 '259,888',
 '116,908',
 '$108.33M',
 '$333.18M',
 '$92.05M',
 '$183.64M',
 '$363.07M',
 '$623.28M',
 '$167.45M',
 '$261.44M',
 '$66.21M',
 '$0.55M',
 '$227.47M',
 '229,705',
 '$0.17M',
 '36,008',
 '$0.01M',
 '$6.74M',
 '39,822',
 '$0.10M',
 '$0.90M',
 '$1.11M',
 '63,582',
 '54,420',
 '26,498',
 '34,566',
 '45,998',
 '$760.51M',
 '$100.21M',
 '420,522',
 '$318.41M',
 '$257.73M',
 '$35.55M',
 '$57.23M',
 '$315.06M',
 '$115.65M',
 '$233.92M',
 '$128.08M',
 '$0.52M',
 '$14.50M',
 '$12.06M',
 '$2.63M',
 '$53.71M',
 '$1.53M',
 '$3.98M',
 '58,024',
 '40,642',
 '59,048',
 '45,115',
 '256,486',
 '$188.37M',
 '$72.86M',
 '$369.35M',
 '$35.06M',
 '$36.47M',
 '216,634',
 '$59.74M',
 '$23.64M',
 '$14.50M',
 '$183.88M',
 '$50.87M',
 '$238.63M',
 '$532.18M',
 '$936.66M',
 '$408.08M',
 '$304.36M',
 '$259.77M',
 '$145.00M',
 '$111.11M',
 '$121.66M',
 '$107.10M',
 '$222.53M',
 '$93.62M',
 '$0.13M',
 '$25.51M',
 '62,605',
 '$34.54M',
 '$177.00M',
 '$13.76M',
 '69,858',
 '$5.62M',
 '59,677',
 '39,235',
 '$1.00M',
 '49,859',
 '$0.00M',
 '31,462',
 '$220.16M',
 '$46.89M',
 '$128.26M',
 '$4.91M',
 '$54.23M',
 '$108.64M',
 '$77.91M',
 '$76.63M',
 '$228.78M',
 '$75.51M',
 '$47.21M',
 '$257.76M',
 '$0.03M',
 '42,855',
 '$53.61M',
 '$146.41M',
 '$15.63M',
 '$39.10M',
 '$35.90M',
 '$176.24M',
 '$78.91M',
 '$45.30M',
 '$51.08M',
 '$17.11M',
 '76,005',
 '117,337',
 '$7.27M',
 '$48.02M',
 '$0.01M',
 '$30.71M',
 '52,524',
 '29,306',
 '32,631',
 '31,581',
 '26,159',
 '32,652',
 '$659.68M',
 '$389.81M',
 '$107.51M',
 '$210.61M',
 '$324.59M',
 '$107.83M',
 '$63.54M',
 '$53.42M',
 '$85.82M',
 '$301.96M',
 '$48.07M',
 '$2.13M',
 '$215.43M',
 '$380.26M',
 '$132.07M',
 '$209.03M',
 '$75.59M',
 '$608.58M',
 '$65.21M',
 '$12.47M',
 '$25.00M',
 '$40.90M',
 '$176.76M',
 '$208.55M',
 '$109.77M',
 '$41.00M',
 '$4.11M',
 '$100.01M',
 '$18.34M',
 '189,544',
 '$31.57M',
 '$9.65M',
 '$43.00M',
 '$92.00M',
 '60,946',
 '$0.15M',
 '$2.49M',
 '81,704',
 '$24.63M',
 '$0.11M',
 '41,769',
 '34,847',
 '69,484',
 '32,072',
 '$0.45M',
 '25,049',
 '28,489',
 '99,494',
 '$179.87M',
 '$251.19M',
 '$292.00M',
 '$101.01M',
 '$22.49M',
 '$31.49M',
 '$424.67M',
 '$373.59M',
 '$119.39M',
 '$51.40M',
 '$54.71M',
 '$11.98M',
 '$50.69M',
 '$122.01M',
 '$232.64M',
 '$125.10M',
 '$93.93M',
 '$25.04M',
 '56,898',
 '$38.41M',
 '$47.40M',
 '$46.30M',
 '$1.20M',
 '$28.90M',
 '$0.11M',
 '$29.55M',
 '$11.05M',
 '$0.80M',
 '41,784',
 '$0.21M',
 '$11.55M',
 '$0.46M',
 '$1.53M',
 '$3.44M',
 '$0.85M',
 '$0.55M',
 '36,456',
 '35,002',
 '29,934',
 '$195.04M',
 '$27.27M',
 '$209.40M',
 '$36.26M',
 '$43.04M',
 '$403.71M',
 '$137.69M',
 '$10.85M',
 '$334.20M',
 '$224.54M',
 '$92.03M',
 '$171.02M',
 '$412.56M',
 '$423.32M',
 '$134.22M',
 '$390.53M',
 '$0.07M',
 '$66.49M',
 '$134.07M',
 '$73.34M',
 '$214.95M',
 '$31.49M',
 '$146.88M',
 '$42.30M',
 '$11.49M',
 '$186.85M',
 '$160.80M',
 '$58.33M',
 '$0.23M',
 '27,966',
 '42,374',
 '$0.08M',
 '$0.28M',
 '$0.37M',
 '161,622',
 '$58.46M',
 '$103.37M',
 '$160.87M',
 '$54.81M',
 '$250.69M',
 '$350.13M',
 '$85.71M',
 '$90.82M',
 '$146.28M',
 '$157.30M',
 '$700.06M',
 '$459.01M',
 '$180.20M',
 '$59.02M',
 '$52.85M',
 '273,440',
 '$121.25M',
 '$234.76M',
 '$209.84M',
 '$2.34M',
 '32,119',
 '$112.23M',
 '$86.26M',
 '$54.72M',
 '$175.75M',
 '$52.42M',
 '$17.31M',
 '$148.42M',
 '$1.20M',
 '$111.55M',
 '$24.80M',
 '127,858',
 '$91.40M',
 '$44.48M',
 '$21.15M',
 '$77.59M',
 '$28.01M',
 '$31.89M',
 '$18.70M',
 '$36.73M',
 '$0.49M',
 '$109.71M',
 '$6.86M',
 '$37.49M',
 '$5.02M',
 '53,333',
 '$4.58M',
 '$0.39M',
 '$0.63M',
 '$2.43M',
 '29,369',
 '$0.48M',
 '29,082',
 '79,508',
 '$55.82M',
 '$408.01M',
 '$101.53M',
 '$47.40M',
 '$25.75M',
 '$45.45M',
 '$138.45M',
 '$43.22M',
 '$115.64M',
 '$13.01M',
 '$106.60M',
 '$2.96M',
 '$113.33M',
 '$218.08M',
 '$50.28M',
 '$11.10M',
 '$256.39M',
 '$281.49M',
 '$24.01M',
 '$123.48M',
 '48,721',
 '73,144',
 '$32.79M',
 '$57.27M',
 '$78.12M',
 '$147.25M',
 '$16.07M',
 '47,956',
 '$41.62M',
 '$5.69M',
 '$33.20M',
 '$165.25M',
 '$187.17M',
 '$102.31M',
 '$61.26M',
 '$74.89M',
 '$103.41M',
 '$4.06M',
 '$5.85M',
 '$79.88M',
 '$0.13M',
 '$0.03M',
 '$1.29M',
 '$7.94M',
 '29,826',
 '42,412',
 '$24.36M',
 '$5.84M',
 '$4.56M',
 '$1.27M',
 '$1.82M',
 '$5.70M',
 '$6.56M',
 '57,361',
 '35,303',
 '$0.71M',
 '$180.98M',
 '$155.25M',
 '$291.05M',
 '$51.34M',
 '$79.57M',
 '$121.63M',
 '$110.52M',
 '$162.83M',
 '211,095',
 '$27.47M',
 '$70.09M',
 '$47.00M',
 '$4.56M',
 '$309.42M',
 '$409.01M',
 '$13.41M',
 '$353.01M',
 '$93.66M',
 '$25.24M',
 '$144.80M',
 '$64.04M',
 '$134.53M',
 '$84.56M',
 '$61.43M',
 '$115.72M',
 '$25.63M',
 '$85.47M',
 '$40.10M',
 '$43.48M',
 '$70.27M',
 '$143.53M',
 '$35.51M',
 '$117.54M',
 '$33.60M',
 '71,535',
 '$60.65M',
 '$28.64M',
 '$81.53M',
 '$18.67M',
 '$4.56M',
 '$1.52M',
 '$9.08M',
 '42,454',
 '28,982',
 '$13.41M',
 '30,318',
 '$4.37M',
 '$1.20M',
 '$0.12M',
 '$0.68M',
 '$0.05M',
 '$0.47M',
 '$2.55M',
 '28,230',
 '$1.26M',
 '$0.80M',
 '$2.10M',
 '55,672',
 '25,915',
 '113,478',
 '$319.25M',
 '$34.23M',
 '131,530',
 '$202.36M',
 '303,815',
 '$306.17M',
 '$80.07M',
 '$181.03M',
 '$141.15M',
 '$51.97M',
 '$140.37M',
 '$90.38M',
 '105,778',
 '$158.85M',
 '$75.98M',
 '$71.57M',
 '$5.90M',
 '$50.07M',
 '$89.02M',
 '$110.83M',
 '$127.00M',
 '$216.65M',
 '$106.13M',
 '$126.74M',
 '$39.39M',
 '$97.10M',
 '$80.05M',
 '$59.51M',
 '$238.68M',
 '$44.95M',
 '$191.72M',
 '$64.58M',
 '$27.78M',
 '$25.19M',
 '218,252',
 '$47.54M',
 '$0.10M',
 '$42.75M',
 '$34.39M',
 '$31.74M',
 '$39.24M',
 '44,579',
 '$46.80M',
 '$5.74M',
 '$116.00M',
 '$101.63M',
 '$75.75M',
 '$11.26M',
 '$0.03M',
 '$0.03M',
 '$24.52M',
 '$3.96M',
 '$0.02M',
 '$4.36M',
 '$0.27M',
 '$25.00M',
 '$20.15M',
 '$1.78M',
 '$35.11M',
 '$11.91M',
 '$6.57M',
 '$2.68M',
 '36,575',
 '$3.68M',
 '$1.72M',
 '$6.20M',
 '42,003',
 '$0.13M',
 '28,146',
 '32,591',
 '132,834',
 '49,325',
 '$179.80M',
 '$134.03M',
 '$93.43M',
 '$411.33M',
 '$176.65M',
 '$404.52M',
 '$67.33M',
 '$652.27M',
 '$39.57M',
 '$262.03M',
 '$101.80M',
 '52,174',
 '$92.17M',
 '$213.77M',
 '$119.94M',
 '$165.50M',
 '$122.19M',
 '$27.83M',
 '$28.64M',
 '$56.57M',
 '$155.44M',
 '$26.00M',
 '30,076',
 '$75.47M',
 '$312.43M',
 '$620.18M',
 '$25.02M',
 '$101.12M',
 '$69.18M',
 '$84.05M',
 '$173.01M',
 '77,087',
 '$87.34M',
 '$41.09M',
 '$1.07M',
 '$76.57M',
 '$55.01M',
 '$63.60M',
 '$16.06M',
 '$22.00M',
 '$78.87M',
 '$27.78M',
 '$3.57M',
 '$3.77M',
 '25,225',
 '28,054',
 '$18.21M',
 '$20.76M',
 '$55.68M',
 '$0.04M',
 '$6.26M',
 '$0.12M',
 '$33.61M',
 '$27.44M',
 '$0.23M',
 '28,277',
 '110,189',
 '$23.53M',
 '$1.98M',
 '$0.15M',
 '$1.36M',
 '90,662',
 '246,856',
 '$426.83M',
 '$144.53M',
 '$8.75M',
 '$28.71M',
 '$200.07M',
 '$335.06M',
 '$102.43M',
 '$172.06M',
 '$179.02M',
 '$81.56M',
 '$206.36M',
 '27,797',
 '90,547',
 '$128.34M',
 '$40.26M',
 '$65.81M',
 '$35.82M',
 '$83.29M',
 '$94.10M',
 '$11.81M',
 '$45.66M',
 '$94.84M',
 '$59.62M',
 '129,626',
 '$25.00M',
 '$25.30M',
 '$31.57M',
 '$1.92M',
 '92,340',
 '63,444',
 '$108.19M',
 '$33.33M',
 '74,238',
 '37,821',
 '$63.69M',
 '$71.07M',
 '$25.89M',
 '$66.76M',
 '$43.08M',
 '$14.73M',
 '$74.49M',
 '$35.05M',
 '$26.42M',
 '$4.27M',
 '41,863',
 '$3.34M',
 '$2.04M',
 '25,200',
 '$28.56M',
 '25,939',
 '$135.27M',
 '$37.52M',
 '$453.72M',
 '$183.65M',
 '$127.20M',
 '$30.05M',
 '$51.19M',
 '$102.08M',
 '$201.57M',
 '$168.05M',
 '$56.85M',
 '$25.13M',
 '$316.83M',
 '$134.51M',
 '$100.23M',
 '75,793',
 '217,889',
 '$82.35M',
 '175,708',
 '$38.12M',
 '$39.18M',
 '$47.37M',
 '$132.56M',
 '$77.22M',
 '$35.10M',
 '$51.69M',
 '$69.47M',
 '$226.16M',
 '$27.29M',
 '$10.33M',
 '$58.06M',
 '$73.12M',
 '$35.38M',
 '$133.38M',
 '$46.00M',
 '$28.73M',
 '$126.37M',
 '$62.30M',
 '$33.00M',
 '$25.05M',
 '60,466',
 '$1.02M',
 '$0.01M',
 '$139.31M',
 '$75.61M',
 '$20.97M',
 '$0.32M',
 '$11.33M',
 '$0.32M',
 '$22.80M',
 '$27.15M',
 '$144.73M',
 '$77.87M',
 '29,209',
 '$62.32M',
 '$46.62M',
 '$9.25M',
 '$27.57M',
 '$51.58M',
 '$67.29M',
 '$136.49M',
 '$9.53M',
 '$50.01M',
 '$75.98M',
 '$13.84M',
 '$0.54M',
 '$76.23M',
 '$32.39M',
 '$21.09M',
 '$20.21M',
 '$46.20M',
 '34,871',
 '$36.79M',
 '$44.46M',
 '$0.05M',
 '$65.67M',
 '$0.12M',
 '$3.52M',
 '$3.60M',
 '$34.67M',
 '$213.52M',
 '$150.95M',
 '$119.22M',
 '$46.87M',
 '$7.74M',
 '$310.68M',
 '$241.06M',
 '$202.85M',
 '$134.52M',
 '$162.43M',
 '207,409',
 '$116.99M',
 '$15.77M',
 '$40.12M',
 '$337.14M',
 '$93.05M',
 '$73.08M',
 '$21.97M',
 '$234.36M',
 '$168.37M',
 '$35.66M',
 '$226.01M',
 '68,075',
 '$61.74M',
 '$105.27M',
 '$174.64M',
 '$39.57M',
 '$206.04M',
 '$26.59M',
 '$38.91M',
 '$101.11M',
 '$113.20M',
 '$43.73M',
 '$90.76M',
 '$57.76M',
 '$53.26M',
 '$21.70M',
 '$105.81M',
 '$85.02M',
 '$32.70M',
 '$159.58M',
 '$112.49M',
 '$31.45M',
 '$0.18M',
 '$138.61M',
 '40,137',
 '$36.85M',
 '$64.67M',
 '$56.94M',
 '$47.62M',
 '$77.09M',
 '$47.73M',
 '$46.21M',
 '$30.00M',
 '$130.44M',
 '$59.03M',
 '$18.62M',
 '$35.85M',
 '$76.47M',
 '$83.35M',
 '$16.65M',
 '$107.52M',
 '$67.82M',
 '$52.80M',
 '$22.75M',
 '$75.67M',
 '$26.46M',
 '$28.54M',
 '$12.81M',
 '62,632',
 '$43.31M',
 '$6.06M',
 '35,758',
 '$17.37M',
 '$67.64M',
 '$72.27M',
 '$36.90M',
 '$0.42M',
 '$2.41M',
 '35,831',
 '$0.08M',
 '$3.26M',
 '41,771',
 '25,228',
 '$5.81M',
 '222,413',
 '62,053',
 '$20.16M',
 '$474.54M',
 '$186.74M',
 '$179.88M',
 '$172.56M',
 '$241.72M',
 '$155.06M',
 '$515.20M',
 '$173.96M',
 '$234.28M',
 '217,350',
 '$186.34M',
 '$190.87M',
 '$229.09M',
 '$148.97M',
 '138,343',
 '$18.64M',
 '$182.62M',
 '$54.55M',
 '$281.72M',
 '$125.32M',
 '$1.21M',
 '$101.65M',
 '$144.11M',
 '$67.90M',
 '$150.42M',
 '$206.31M',
 '$45.82M',
 '$90.46M',
 '$125.33M',
 '$56.97M',
 '$13.76M',
 '$28.80M',
 '$172.96M',
 '$57.17M',
 '$71.20M',
 '$24.85M',
 '$6.11M',
 '$84.05M',
 '59,528',
 '$46.70M',
 '$43.82M',
 '$141.62M',
 '$29.12M',
 '$98.93M',
 '$50.02M',
 '$130.32M',
 '$153.67M',
 '$219.96M',
 '$45.80M',
 '$17.14M',
 '$38.58M',
 '$8.86M',
 '$52.08M',
 '$35.42M',
 '$69.77M',
 '$83.36M',
 '$26.31M',
 '$44.14M',
 '$12.28M',
 '$32.00M',
 '$34.64M',
 '$25.45M',
 '$56.57M',
 '34,814',
 '27,441',
 '$18.31M',
 '$20.28M',
 '$6.59M',
 '$74.54M',
 '$0.05M',
 '$13.08M',
 '$0.73M',
 '$4.43M',
 '30,076',
 '$2.64M',
 '$0.04M',
 '$0.07M',
 '$330.36M',
 '$41.19M',
 '$202.02M',
 '$57.01M',
 '$33.81M',
 '125,819',
 '$8.72M',
 '$126.66M',
 '$55.47M',
 '$200.68M',
 '$43.58M',
 '$103.07M',
 '$49.88M',
 '$0.10M',
 '83,711',
 '$56.62M',
 '$53.90M',
 '$0.03M',
 '$93.44M',
 '$47.38M',
 '$52.00M',
 '$118.91M',
 '$36.32M',
 '$70.01M',
 '$42.03M',
 '$59.07M',
 '$65.08M',
 '$227.95M',
 '$69.03M',
 '$126.94M',
 '28,643',
 '$17.60M',
 '$23.24M',
 '$198.35M',
 '$118.31M',
 '$36.67M',
 '$14.70M',
 '56,481',
 '$30.10M',
 '$89.30M',
 '$82.39M',
 '$71.96M',
 '$51.37M',
 '$25.12M',
 '$63.41M',
 '$45.29M',
 '$65.45M',
 '$41.66M',
 '$23.98M',
 '$54.93M',
 '$33.88M',
 '$43.25M',
 '$26.54M',
 '$36.85M',
 '$21.36M',
 '$1.11M',
 '$3.78M',
 '$70.12M',
 '$40.98M',
 '$0.02M',
 '$0.06M',
 '$10.38M',
 '66,361',
 '$16.12M',
 '$42.93M',
 '$32.13M',
 '$26.20M',
 '$22.10M',
 '32,496',
 '$22.06M',
 '$10.88M',
 '$66.53M',
 '$1.49M',
 '$0.07M',
 '$0.00M',
 '$0.45M',
 ...]

In [656]:
gross_incme = []
for i in gross_incom:
    j = i.replace('$','')
    gross_incme.append(j)

In [657]:
gross_incme

['534.86M',
 '377.85M',
 '200,597',
 '292.58M',
 '315.54M',
 '342.55M',
 '171.48M',
 '290.48M',
 '120,247',
 '204.84M',
 '322.74M',
 '0.27M',
 '62,713',
 '61,852',
 '187.71M',
 '19.50M',
 '448.14M',
 '858.37M',
 '190.24M',
 '248.16M',
 '85.16M',
 '0.71M',
 '678.82M',
 '36,986',
 '31,652',
 '718.73M',
 '67.44M',
 '13.28M',
 '309.13M',
 '2.38M',
 '12.39M',
 '97,259',
 '65,139',
 '6.60M',
 '125,825',
 '47,652',
 '206.85M',
 '804.75M',
 '402.45M',
 '159.23M',
 '197.17M',
 '70.10M',
 '70.51M',
 '83.01M',
 '4.14M',
 '47.70M',
 '100,118',
 '127,154',
 '92,906',
 '20.19M',
 '0.98M',
 '4.19M',
 '3.51M',
 '48,380',
 '109,405',
 '0.04M',
 '154.06M',
 '305.41M',
 '38.40M',
 '32.87M',
 '117.62M',
 '226.28M',
 '13.66M',
 '26.95M',
 '3.90M',
 '217.58M',
 '23.16M',
 '59,753',
 '40,811',
 '34,599',
 '1.03M',
 '80,609',
 '70,045',
 '8.18M',
 '57,473',
 '30,878',
 '26,364',
 '28,521',
 '36,122',
 '259,888',
 '116,908',
 '108.33M',
 '333.18M',
 '92.05M',
 '183.64M',
 '363.07M',
 '623.28M',
 '167.45M',
 '261.44M',
 '66.21M',
 '0.55M',
 '227.47M',
 '229,705',
 '0.17M',
 '36,008',
 '0.01M',
 '6.74M',
 '39,822',
 '0.10M',
 '0.90M',
 '1.11M',
 '63,582',
 '54,420',
 '26,498',
 '34,566',
 '45,998',
 '760.51M',
 '100.21M',
 '420,522',
 '318.41M',
 '257.73M',
 '35.55M',
 '57.23M',
 '315.06M',
 '115.65M',
 '233.92M',
 '128.08M',
 '0.52M',
 '14.50M',
 '12.06M',
 '2.63M',
 '53.71M',
 '1.53M',
 '3.98M',
 '58,024',
 '40,642',
 '59,048',
 '45,115',
 '256,486',
 '188.37M',
 '72.86M',
 '369.35M',
 '35.06M',
 '36.47M',
 '216,634',
 '59.74M',
 '23.64M',
 '14.50M',
 '183.88M',
 '50.87M',
 '238.63M',
 '532.18M',
 '936.66M',
 '408.08M',
 '304.36M',
 '259.77M',
 '145.00M',
 '111.11M',
 '121.66M',
 '107.10M',
 '222.53M',
 '93.62M',
 '0.13M',
 '25.51M',
 '62,605',
 '34.54M',
 '177.00M',
 '13.76M',
 '69,858',
 '5.62M',
 '59,677',
 '39,235',
 '1.00M',
 '49,859',
 '0.00M',
 '31,462',
 '220.16M',
 '46.89M',
 '128.26M',
 '4.91M',
 '54.23M',
 '108.64M',
 '77.91M',
 '76.63M',
 '228.78M',
 '75.51M',
 '47.21M',
 '257.76M',
 '0.03M',
 '42,855',
 '53.61M',
 '146.41M',
 '15.63M',
 '39.10M',
 '35.90M',
 '176.24M',
 '78.91M',
 '45.30M',
 '51.08M',
 '17.11M',
 '76,005',
 '117,337',
 '7.27M',
 '48.02M',
 '0.01M',
 '30.71M',
 '52,524',
 '29,306',
 '32,631',
 '31,581',
 '26,159',
 '32,652',
 '659.68M',
 '389.81M',
 '107.51M',
 '210.61M',
 '324.59M',
 '107.83M',
 '63.54M',
 '53.42M',
 '85.82M',
 '301.96M',
 '48.07M',
 '2.13M',
 '215.43M',
 '380.26M',
 '132.07M',
 '209.03M',
 '75.59M',
 '608.58M',
 '65.21M',
 '12.47M',
 '25.00M',
 '40.90M',
 '176.76M',
 '208.55M',
 '109.77M',
 '41.00M',
 '4.11M',
 '100.01M',
 '18.34M',
 '189,544',
 '31.57M',
 '9.65M',
 '43.00M',
 '92.00M',
 '60,946',
 '0.15M',
 '2.49M',
 '81,704',
 '24.63M',
 '0.11M',
 '41,769',
 '34,847',
 '69,484',
 '32,072',
 '0.45M',
 '25,049',
 '28,489',
 '99,494',
 '179.87M',
 '251.19M',
 '292.00M',
 '101.01M',
 '22.49M',
 '31.49M',
 '424.67M',
 '373.59M',
 '119.39M',
 '51.40M',
 '54.71M',
 '11.98M',
 '50.69M',
 '122.01M',
 '232.64M',
 '125.10M',
 '93.93M',
 '25.04M',
 '56,898',
 '38.41M',
 '47.40M',
 '46.30M',
 '1.20M',
 '28.90M',
 '0.11M',
 '29.55M',
 '11.05M',
 '0.80M',
 '41,784',
 '0.21M',
 '11.55M',
 '0.46M',
 '1.53M',
 '3.44M',
 '0.85M',
 '0.55M',
 '36,456',
 '35,002',
 '29,934',
 '195.04M',
 '27.27M',
 '209.40M',
 '36.26M',
 '43.04M',
 '403.71M',
 '137.69M',
 '10.85M',
 '334.20M',
 '224.54M',
 '92.03M',
 '171.02M',
 '412.56M',
 '423.32M',
 '134.22M',
 '390.53M',
 '0.07M',
 '66.49M',
 '134.07M',
 '73.34M',
 '214.95M',
 '31.49M',
 '146.88M',
 '42.30M',
 '11.49M',
 '186.85M',
 '160.80M',
 '58.33M',
 '0.23M',
 '27,966',
 '42,374',
 '0.08M',
 '0.28M',
 '0.37M',
 '161,622',
 '58.46M',
 '103.37M',
 '160.87M',
 '54.81M',
 '250.69M',
 '350.13M',
 '85.71M',
 '90.82M',
 '146.28M',
 '157.30M',
 '700.06M',
 '459.01M',
 '180.20M',
 '59.02M',
 '52.85M',
 '273,440',
 '121.25M',
 '234.76M',
 '209.84M',
 '2.34M',
 '32,119',
 '112.23M',
 '86.26M',
 '54.72M',
 '175.75M',
 '52.42M',
 '17.31M',
 '148.42M',
 '1.20M',
 '111.55M',
 '24.80M',
 '127,858',
 '91.40M',
 '44.48M',
 '21.15M',
 '77.59M',
 '28.01M',
 '31.89M',
 '18.70M',
 '36.73M',
 '0.49M',
 '109.71M',
 '6.86M',
 '37.49M',
 '5.02M',
 '53,333',
 '4.58M',
 '0.39M',
 '0.63M',
 '2.43M',
 '29,369',
 '0.48M',
 '29,082',
 '79,508',
 '55.82M',
 '408.01M',
 '101.53M',
 '47.40M',
 '25.75M',
 '45.45M',
 '138.45M',
 '43.22M',
 '115.64M',
 '13.01M',
 '106.60M',
 '2.96M',
 '113.33M',
 '218.08M',
 '50.28M',
 '11.10M',
 '256.39M',
 '281.49M',
 '24.01M',
 '123.48M',
 '48,721',
 '73,144',
 '32.79M',
 '57.27M',
 '78.12M',
 '147.25M',
 '16.07M',
 '47,956',
 '41.62M',
 '5.69M',
 '33.20M',
 '165.25M',
 '187.17M',
 '102.31M',
 '61.26M',
 '74.89M',
 '103.41M',
 '4.06M',
 '5.85M',
 '79.88M',
 '0.13M',
 '0.03M',
 '1.29M',
 '7.94M',
 '29,826',
 '42,412',
 '24.36M',
 '5.84M',
 '4.56M',
 '1.27M',
 '1.82M',
 '5.70M',
 '6.56M',
 '57,361',
 '35,303',
 '0.71M',
 '180.98M',
 '155.25M',
 '291.05M',
 '51.34M',
 '79.57M',
 '121.63M',
 '110.52M',
 '162.83M',
 '211,095',
 '27.47M',
 '70.09M',
 '47.00M',
 '4.56M',
 '309.42M',
 '409.01M',
 '13.41M',
 '353.01M',
 '93.66M',
 '25.24M',
 '144.80M',
 '64.04M',
 '134.53M',
 '84.56M',
 '61.43M',
 '115.72M',
 '25.63M',
 '85.47M',
 '40.10M',
 '43.48M',
 '70.27M',
 '143.53M',
 '35.51M',
 '117.54M',
 '33.60M',
 '71,535',
 '60.65M',
 '28.64M',
 '81.53M',
 '18.67M',
 '4.56M',
 '1.52M',
 '9.08M',
 '42,454',
 '28,982',
 '13.41M',
 '30,318',
 '4.37M',
 '1.20M',
 '0.12M',
 '0.68M',
 '0.05M',
 '0.47M',
 '2.55M',
 '28,230',
 '1.26M',
 '0.80M',
 '2.10M',
 '55,672',
 '25,915',
 '113,478',
 '319.25M',
 '34.23M',
 '131,530',
 '202.36M',
 '303,815',
 '306.17M',
 '80.07M',
 '181.03M',
 '141.15M',
 '51.97M',
 '140.37M',
 '90.38M',
 '105,778',
 '158.85M',
 '75.98M',
 '71.57M',
 '5.90M',
 '50.07M',
 '89.02M',
 '110.83M',
 '127.00M',
 '216.65M',
 '106.13M',
 '126.74M',
 '39.39M',
 '97.10M',
 '80.05M',
 '59.51M',
 '238.68M',
 '44.95M',
 '191.72M',
 '64.58M',
 '27.78M',
 '25.19M',
 '218,252',
 '47.54M',
 '0.10M',
 '42.75M',
 '34.39M',
 '31.74M',
 '39.24M',
 '44,579',
 '46.80M',
 '5.74M',
 '116.00M',
 '101.63M',
 '75.75M',
 '11.26M',
 '0.03M',
 '0.03M',
 '24.52M',
 '3.96M',
 '0.02M',
 '4.36M',
 '0.27M',
 '25.00M',
 '20.15M',
 '1.78M',
 '35.11M',
 '11.91M',
 '6.57M',
 '2.68M',
 '36,575',
 '3.68M',
 '1.72M',
 '6.20M',
 '42,003',
 '0.13M',
 '28,146',
 '32,591',
 '132,834',
 '49,325',
 '179.80M',
 '134.03M',
 '93.43M',
 '411.33M',
 '176.65M',
 '404.52M',
 '67.33M',
 '652.27M',
 '39.57M',
 '262.03M',
 '101.80M',
 '52,174',
 '92.17M',
 '213.77M',
 '119.94M',
 '165.50M',
 '122.19M',
 '27.83M',
 '28.64M',
 '56.57M',
 '155.44M',
 '26.00M',
 '30,076',
 '75.47M',
 '312.43M',
 '620.18M',
 '25.02M',
 '101.12M',
 '69.18M',
 '84.05M',
 '173.01M',
 '77,087',
 '87.34M',
 '41.09M',
 '1.07M',
 '76.57M',
 '55.01M',
 '63.60M',
 '16.06M',
 '22.00M',
 '78.87M',
 '27.78M',
 '3.57M',
 '3.77M',
 '25,225',
 '28,054',
 '18.21M',
 '20.76M',
 '55.68M',
 '0.04M',
 '6.26M',
 '0.12M',
 '33.61M',
 '27.44M',
 '0.23M',
 '28,277',
 '110,189',
 '23.53M',
 '1.98M',
 '0.15M',
 '1.36M',
 '90,662',
 '246,856',
 '426.83M',
 '144.53M',
 '8.75M',
 '28.71M',
 '200.07M',
 '335.06M',
 '102.43M',
 '172.06M',
 '179.02M',
 '81.56M',
 '206.36M',
 '27,797',
 '90,547',
 '128.34M',
 '40.26M',
 '65.81M',
 '35.82M',
 '83.29M',
 '94.10M',
 '11.81M',
 '45.66M',
 '94.84M',
 '59.62M',
 '129,626',
 '25.00M',
 '25.30M',
 '31.57M',
 '1.92M',
 '92,340',
 '63,444',
 '108.19M',
 '33.33M',
 '74,238',
 '37,821',
 '63.69M',
 '71.07M',
 '25.89M',
 '66.76M',
 '43.08M',
 '14.73M',
 '74.49M',
 '35.05M',
 '26.42M',
 '4.27M',
 '41,863',
 '3.34M',
 '2.04M',
 '25,200',
 '28.56M',
 '25,939',
 '135.27M',
 '37.52M',
 '453.72M',
 '183.65M',
 '127.20M',
 '30.05M',
 '51.19M',
 '102.08M',
 '201.57M',
 '168.05M',
 '56.85M',
 '25.13M',
 '316.83M',
 '134.51M',
 '100.23M',
 '75,793',
 '217,889',
 '82.35M',
 '175,708',
 '38.12M',
 '39.18M',
 '47.37M',
 '132.56M',
 '77.22M',
 '35.10M',
 '51.69M',
 '69.47M',
 '226.16M',
 '27.29M',
 '10.33M',
 '58.06M',
 '73.12M',
 '35.38M',
 '133.38M',
 '46.00M',
 '28.73M',
 '126.37M',
 '62.30M',
 '33.00M',
 '25.05M',
 '60,466',
 '1.02M',
 '0.01M',
 '139.31M',
 '75.61M',
 '20.97M',
 '0.32M',
 '11.33M',
 '0.32M',
 '22.80M',
 '27.15M',
 '144.73M',
 '77.87M',
 '29,209',
 '62.32M',
 '46.62M',
 '9.25M',
 '27.57M',
 '51.58M',
 '67.29M',
 '136.49M',
 '9.53M',
 '50.01M',
 '75.98M',
 '13.84M',
 '0.54M',
 '76.23M',
 '32.39M',
 '21.09M',
 '20.21M',
 '46.20M',
 '34,871',
 '36.79M',
 '44.46M',
 '0.05M',
 '65.67M',
 '0.12M',
 '3.52M',
 '3.60M',
 '34.67M',
 '213.52M',
 '150.95M',
 '119.22M',
 '46.87M',
 '7.74M',
 '310.68M',
 '241.06M',
 '202.85M',
 '134.52M',
 '162.43M',
 '207,409',
 '116.99M',
 '15.77M',
 '40.12M',
 '337.14M',
 '93.05M',
 '73.08M',
 '21.97M',
 '234.36M',
 '168.37M',
 '35.66M',
 '226.01M',
 '68,075',
 '61.74M',
 '105.27M',
 '174.64M',
 '39.57M',
 '206.04M',
 '26.59M',
 '38.91M',
 '101.11M',
 '113.20M',
 '43.73M',
 '90.76M',
 '57.76M',
 '53.26M',
 '21.70M',
 '105.81M',
 '85.02M',
 '32.70M',
 '159.58M',
 '112.49M',
 '31.45M',
 '0.18M',
 '138.61M',
 '40,137',
 '36.85M',
 '64.67M',
 '56.94M',
 '47.62M',
 '77.09M',
 '47.73M',
 '46.21M',
 '30.00M',
 '130.44M',
 '59.03M',
 '18.62M',
 '35.85M',
 '76.47M',
 '83.35M',
 '16.65M',
 '107.52M',
 '67.82M',
 '52.80M',
 '22.75M',
 '75.67M',
 '26.46M',
 '28.54M',
 '12.81M',
 '62,632',
 '43.31M',
 '6.06M',
 '35,758',
 '17.37M',
 '67.64M',
 '72.27M',
 '36.90M',
 '0.42M',
 '2.41M',
 '35,831',
 '0.08M',
 '3.26M',
 '41,771',
 '25,228',
 '5.81M',
 '222,413',
 '62,053',
 '20.16M',
 '474.54M',
 '186.74M',
 '179.88M',
 '172.56M',
 '241.72M',
 '155.06M',
 '515.20M',
 '173.96M',
 '234.28M',
 '217,350',
 '186.34M',
 '190.87M',
 '229.09M',
 '148.97M',
 '138,343',
 '18.64M',
 '182.62M',
 '54.55M',
 '281.72M',
 '125.32M',
 '1.21M',
 '101.65M',
 '144.11M',
 '67.90M',
 '150.42M',
 '206.31M',
 '45.82M',
 '90.46M',
 '125.33M',
 '56.97M',
 '13.76M',
 '28.80M',
 '172.96M',
 '57.17M',
 '71.20M',
 '24.85M',
 '6.11M',
 '84.05M',
 '59,528',
 '46.70M',
 '43.82M',
 '141.62M',
 '29.12M',
 '98.93M',
 '50.02M',
 '130.32M',
 '153.67M',
 '219.96M',
 '45.80M',
 '17.14M',
 '38.58M',
 '8.86M',
 '52.08M',
 '35.42M',
 '69.77M',
 '83.36M',
 '26.31M',
 '44.14M',
 '12.28M',
 '32.00M',
 '34.64M',
 '25.45M',
 '56.57M',
 '34,814',
 '27,441',
 '18.31M',
 '20.28M',
 '6.59M',
 '74.54M',
 '0.05M',
 '13.08M',
 '0.73M',
 '4.43M',
 '30,076',
 '2.64M',
 '0.04M',
 '0.07M',
 '330.36M',
 '41.19M',
 '202.02M',
 '57.01M',
 '33.81M',
 '125,819',
 '8.72M',
 '126.66M',
 '55.47M',
 '200.68M',
 '43.58M',
 '103.07M',
 '49.88M',
 '0.10M',
 '83,711',
 '56.62M',
 '53.90M',
 '0.03M',
 '93.44M',
 '47.38M',
 '52.00M',
 '118.91M',
 '36.32M',
 '70.01M',
 '42.03M',
 '59.07M',
 '65.08M',
 '227.95M',
 '69.03M',
 '126.94M',
 '28,643',
 '17.60M',
 '23.24M',
 '198.35M',
 '118.31M',
 '36.67M',
 '14.70M',
 '56,481',
 '30.10M',
 '89.30M',
 '82.39M',
 '71.96M',
 '51.37M',
 '25.12M',
 '63.41M',
 '45.29M',
 '65.45M',
 '41.66M',
 '23.98M',
 '54.93M',
 '33.88M',
 '43.25M',
 '26.54M',
 '36.85M',
 '21.36M',
 '1.11M',
 '3.78M',
 '70.12M',
 '40.98M',
 '0.02M',
 '0.06M',
 '10.38M',
 '66,361',
 '16.12M',
 '42.93M',
 '32.13M',
 '26.20M',
 '22.10M',
 '32,496',
 '22.06M',
 '10.88M',
 '66.53M',
 '1.49M',
 '0.07M',
 '0.00M',
 '0.45M',
 ...]

In [659]:
gross_income = []
for i in gross_incme:
    f = i.replace(',','')
    gross_income.append(f)

In [661]:
def convert_to_single_int(value_str):
    if value_str[-1] == 'M':
        return int(float(value_str[:-1]) * 1000000)
    else:
        return int(value_str)

# Assuming 'my_list' is your list containing the values
#my_list = ['45.25M', '425612', '100M', '250M', '72.9M', '900']

# Convert values with 'M' suffix to single integers representing millions
converted_list = [convert_to_single_int(value) for value in gross_income]

[534860000, 377850000, 200597, 292580000, 315540000, 342550000, 171480000, 290480000, 120247, 204840000, 322740000, 270000, 62713, 61852, 187710000, 19500000, 448140000, 858370000, 190240000, 248160000, 85160000, 710000, 678820000, 36986, 31652, 718730000, 67440000, 13280000, 309130000, 2380000, 12390000, 97259, 65139, 6600000, 125825, 47652, 206850000, 804750000, 402450000, 159230000, 197170000, 70100000, 70510000, 83010000, 4139999, 47700000, 100118, 127154, 92906, 20190000, 980000, 4190000, 3510000, 48380, 109405, 40000, 154060000, 305410000, 38400000, 32869999, 117620000, 226280000, 13660000, 26950000, 3900000, 217580000, 23160000, 59753, 40811, 34599, 1030000, 80609, 70045, 8180000, 57473, 30878, 26364, 28521, 36122, 259888, 116908, 108330000, 333180000, 92050000, 183640000, 363070000, 623280000, 167450000, 261440000, 66209999, 550000, 227470000, 229705, 170000, 36008, 10000, 6740000, 39822, 100000, 900000, 1110000, 63582, 54420, 26498, 34566, 45998, 760510000, 100210000, 420522, 318410000, 257730000, 35550000, 57230000, 315060000, 115650000, 233920000, 128080000, 520000, 14500000, 12060000, 2630000, 53710000, 1530000, 3980000, 58024, 40642, 59048, 45115, 256486, 188370000, 72860000, 369350000, 35060000, 36470000, 216634, 59740000, 23640000, 14500000, 183880000, 50870000, 238630000, 532179999, 936660000, 408080000, 304360000, 259769999, 145000000, 111110000, 121660000, 107100000, 222530000, 93620000, 130000, 25510000, 62605, 34540000, 177000000, 13760000, 69858, 5620000, 59677, 39235, 1000000, 49859, 0, 31462, 220160000, 46890000, 128259999, 4910000, 54230000, 108640000, 77910000, 76630000, 228780000, 75510000, 47210000, 257760000, 30000, 42855, 53610000, 146410000, 15630000, 39100000, 35900000, 176240000, 78910000, 45300000, 51080000, 17110000, 76005, 117337, 7270000, 48020000, 10000, 30710000, 52524, 29306, 32631, 31581, 26159, 32652, 659680000, 389810000, 107510000, 210610000, 324590000, 107830000, 63540000, 53420000, 85820000, 301960000, 48070000, 2130000, 215430000, 380260000, 132070000, 209030000, 75590000, 608580000, 65209999, 12470000, 25000000, 40900000, 176760000, 208550000, 109770000, 41000000, 4110000, 100010000, 18340000, 189544, 31570000, 9650000, 43000000, 92000000, 60946, 150000, 2490000, 81704, 24630000, 110000, 41769, 34847, 69484, 32072, 450000, 25049, 28489, 99494, 179870000, 251190000, 292000000, 101010000, 22490000, 31490000, 424670000, 373590000, 119390000, 51400000, 54710000, 11980000, 50690000, 122010000, 232640000, 125100000, 93930000, 25040000, 56898, 38410000, 47400000, 46300000, 1200000, 28900000, 110000, 29550000, 11050000, 800000, 41784, 210000, 11550000, 460000, 1530000, 3440000, 850000, 550000, 36456, 35002, 29934, 195040000, 27270000, 209400000, 36260000, 43040000, 403710000, 137690000, 10850000, 334200000, 224540000, 92030000, 171020000, 412560000, 423320000, 134220000, 390530000, 70000, 66489999, 134070000, 73340000, 214950000, 31490000, 146880000, 42300000, 11490000, 186850000, 160800000, 58330000, 230000, 27966, 42374, 80000, 280000, 370000, 161622, 58460000, 103370000, 160870000, 54810000, 250690000, 350130000, 85710000, 90820000, 146280000, 157300000, 700060000, 459010000, 180200000, 59020000, 52850000, 273440, 121250000, 234760000, 209840000, 2340000, 32119, 112230000, 86260000, 54720000, 175750000, 52420000, 17310000, 148420000, 1200000, 111550000, 24800000, 127858, 91400000, 44480000, 21150000, 77590000, 28010000, 31890000, 18700000, 36730000, 490000, 109710000, 6860000, 37490000, 5020000, 53333, 4580000, 390000, 630000, 2430000, 29369, 480000, 29082, 79508, 55820000, 408010000, 101530000, 47400000, 25750000, 45450000, 138450000, 43220000, 115640000, 13010000, 106600000, 2960000, 113330000, 218080000, 50280000, 11100000, 256390000, 281490000, 24010000, 123480000, 48721, 73144, 32790000, 57270000, 78120000, 147250000, 16070000, 47956, 41620000, 5690000, 33200000, 165250000, 187170000, 102310000, 61260000, 74890000, 103410000, 4059999, 5850000, 79880000, 130000, 30000, 1290000, 7940000, 29826, 42412, 24360000, 5840000, 4560000, 1270000, 1820000, 5700000, 6560000, 57361, 35303, 710000, 180980000, 155250000, 291050000, 51340000, 79570000, 121630000, 110520000, 162830000, 211095, 27470000, 70090000, 47000000, 4560000, 309420000, 409010000, 13410000, 353010000, 93660000, 25240000, 144800000, 64040000, 134530000, 84560000, 61430000, 115720000, 25630000, 85470000, 40100000, 43480000, 70270000, 143530000, 35510000, 117540000, 33600000, 71535, 60650000, 28640000, 81530000, 18670000, 4560000, 1520000, 9080000, 42454, 28982, 13410000, 30318, 4370000, 1200000, 120000, 680000, 50000, 470000, 2550000, 28230, 1260000, 800000, 2100000, 55672, 25915, 113478, 319250000, 34230000, 131530, 202360000, 303815, 306170000, 80070000, 181030000, 141150000, 51970000, 140370000, 90380000, 105778, 158850000, 75980000, 71570000, 5900000, 50070000, 89020000, 110830000, 127000000, 216650000, 106130000, 126740000, 39390000, 97100000, 80050000, 59510000, 238680000, 44950000, 191720000, 64580000, 27780000, 25190000, 218252, 47540000, 100000, 42750000, 34390000, 31740000, 39240000, 44579, 46800000, 5740000, 116000000, 101630000, 75750000, 11260000, 30000, 30000, 24520000, 3960000, 20000, 4360000, 270000, 25000000, 20150000, 1780000, 35110000, 11910000, 6570000, 2680000, 36575, 3680000, 1720000, 6200000, 42003, 130000, 28146, 32591, 132834, 49325, 179800000, 134030000, 93430000, 411330000, 176650000, 404520000, 67330000, 652270000, 39570000, 262029999, 101800000, 52174, 92170000, 213770000, 119940000, 165500000, 122190000, 27830000, 28640000, 56570000, 155440000, 26000000, 30076, 75470000, 312430000, 620180000, 25020000, 101120000, 69180000, 84050000, 173010000, 77087, 87340000, 41090000, 1070000, 76570000, 55010000, 63600000, 16059999, 22000000, 78870000, 27780000, 3570000, 3770000, 25225, 28054, 18210000, 20760000, 55680000, 40000, 6260000, 120000, 33610000, 27440000, 230000, 28277, 110189, 23530000, 1980000, 150000, 1360000, 90662, 246856, 426830000, 144530000, 8750000, 28710000, 200070000, 335060000, 102430000, 172060000, 179020000, 81560000, 206360000, 27797, 90547, 128340000, 40260000, 65810000, 35820000, 83290000, 94100000, 11810000, 45660000, 94840000, 59620000, 129626, 25000000, 25300000, 31570000, 1920000, 92340, 63444, 108190000, 33330000, 74238, 37821, 63690000, 71070000, 25890000, 66760000, 43080000, 14730000, 74490000, 35050000, 26420000, 4270000, 41863, 3340000, 2040000, 25200, 28560000, 25939, 135270000, 37520000, 453720000, 183650000, 127200000, 30050000, 51190000, 102080000, 201570000, 168050000, 56850000, 25130000, 316830000, 134510000, 100230000, 75793, 217889, 82350000, 175708, 38120000, 39180000, 47370000, 132560000, 77220000, 35100000, 51690000, 69470000, 226160000, 27290000, 10330000, 58060000, 73120000, 35380000, 133380000, 46000000, 28730000, 126370000, 62300000, 33000000, 25050000, 60466, 1020000, 10000, 139310000, 75610000, 20970000, 320000, 11330000, 320000, 22800000, 27150000, 144730000, 77870000, 29209, 62320000, 46620000, 9250000, 27570000, 51580000, 67290000, 136490000, 9530000, 50010000, 75980000, 13840000, 540000, 76230000, 32390000, 21090000, 20210000, 46200000, 34871, 36790000, 44460000, 50000, 65670000, 120000, 3520000, 3600000, 34670000, 213520000, 150950000, 119220000, 46870000, 7740000, 310680000, 241060000, 202850000, 134520000, 162430000, 207409, 116990000, 15770000, 40120000, 337140000, 93050000, 73080000, 21970000, 234360000, 168370000, 35660000, 226010000, 68075, 61740000, 105270000, 174640000, 39570000, 206040000, 26590000, 38910000, 101110000, 113200000, 43730000, 90760000, 57760000, 53260000, 21700000, 105810000, 85020000, 32700000, 159580000, 112490000, 31450000, 180000, 138610000, 40137, 36850000, 64670000, 56940000, 47620000, 77090000, 47730000, 46210000, 30000000, 130440000, 59030000, 18620000, 35850000, 76470000, 83350000, 16649999, 107520000, 67820000, 52800000, 22750000, 75670000, 26460000, 28540000, 12810000, 62632, 43310000, 6060000, 35758, 17370000, 67640000, 72270000, 36900000, 420000, 2410000, 35831, 80000, 3260000, 41771, 25228, 5810000, 222413, 62053, 20160000, 474540000, 186740000, 179880000, 172560000, 241720000, 155060000, 515200000, 173960000, 234280000, 217350, 186340000, 190870000, 229090000, 148970000, 138343, 18640000, 182620000, 54550000, 281720000, 125320000, 1210000, 101650000, 144110000, 67900000, 150420000, 206310000, 45820000, 90460000, 125330000, 56970000, 13760000, 28800000, 172960000, 57170000, 71200000, 24850000, 6110000, 84050000, 59528, 46700000, 43820000, 141620000, 29120000, 98930000, 50020000, 130320000, 153670000, 219960000, 45800000, 17140000, 38580000, 8860000, 52080000, 35420000, 69770000, 83360000, 26310000, 44140000, 12280000, 32000000, 34640000, 25450000, 56570000, 34814, 27441, 18310000, 20280000, 6590000, 74540000, 50000, 13080000, 730000, 4430000, 30076, 2640000, 40000, 70000, 330360000, 41190000, 202020000, 57010000, 33810000, 125819, 8720000, 126660000, 55470000, 200680000, 43580000, 103070000, 49880000, 100000, 83711, 56620000, 53900000, 30000, 93440000, 47380000, 52000000, 118910000, 36320000, 70010000, 42030000, 59070000, 65080000, 227950000, 69030000, 126940000, 28643, 17600000, 23240000, 198350000, 118310000, 36670000, 14700000, 56481, 30100000, 89300000, 82390000, 71960000, 51370000, 25120000, 63410000, 45290000, 65450000, 41660000, 23980000, 54930000, 33880000, 43250000, 26540000, 36850000, 21360000, 1110000, 3780000, 70120000, 40980000, 20000, 60000, 10380000, 66361, 16120000, 42930000, 32130000, 26200000, 22100000, 32496, 22060000, 10880000, 66530000, 1490000, 70000, 0, 450000, 34357, 66601, 168150000, 30930000, 40000, 164870000, 148650000, 89760000, 76420000, 38380000, 336530000, 55120000, 296811, 37180000, 140220000, 100920000, 88250000, 25731, 150370000, 73100000, 58250000, 63950000, 36340000, 95228, 1800000, 40560000, 51880000, 127440000, 121950000, 30670000, 106810000, 46440000, 65919, 107510000, 14270000, 25691, 81700000, 34020000, 50330000, 8310000, 65190000, 3640000, 7710000, 196609, 54760000, 44532, 82160000, 12050000, 43100000, 35610000, 56360000, 62324, 38580000, 32988, 87700000, 53790000, 80000, 106000000, 30000, 21290000, 12630000, 7890000, 37450, 38110000, 24980000, 13600000, 68520000, 37900000, 32600000, 13790000, 62320000, 30310000, 36870000, 30878, 19980000, 12300000, 8170000, 5200000, 40765, 10000, 343260000, 317100000, 54150000, 198540000, 140460000, 352390000, 126640000, 62250000, 23020000, 176590000, 190420000, 47750000, 58880000, 4410000, 79960000, 103740000, 57242, 54680000, 213310000, 36200000, 39690000, 140130000, 91460000, 106580000, 72180000, 58030000, 28080000, 38360000, 93847, 130180000, 73920000, 43060000, 29260000, 160000, 66972, 50580000, 34340000, 17620000, 56280000, 32140000, 1530000, 42870000, 70310000, 1800000, 6860000, 8000000, 30580000, 30000, 101300000, 35379, 30700000, 29073, 10000, 40623, 36250000, 57740000, 23580000, 30357, 24080000, 22370000, 139850000, 32590000, 60480000, 61360000, 50650000, 16030000, 18210000, 50000, 27824, 20570000, 22490000, 10270000, 78050000, 44514, 30160000, 19490000, 63100000, 19550000, 27980000, 85740000, 41070000, 28330000, 12670000, 30167, 5660000, 100000, 4630000, 42731, 51852, 66713, 196072, 215410000, 29760000, 155190000, 105340000, 84160000, 229020000, 42200000, 188473, 22780000, 101030000, 101609, 15950000, 155330000, 48390000, 417720000, 160940000, 84874, 16520000, 48481, 200080000, 44820000, 58700000, 39010000, 118310000, 58610000, 30771, 4970000, 39320000, 80170000, 46154, 134940000, 6710000, 11600000, 55100000, 36110000, 55700000, 82670000, 55500000, 43950000, 14840000, 11200000, 115100000, 51200000, 35517, 60480000, 17630000, 31810000, 13630000, 63150000, 89370, 52356, 42628, 43057, 32939999, 36300000, 177461, 70770000, 34990000, 20240000, 37020000, 14430000, 13750000, 1100000, 12840000, 75970000, 75176, 40910000, 80940000, 21010000, 55970000, 31820, 30040000, 37050000, 36280000, 37760000, 12760000, 19700000, 40000, 25830000, 10970000, 27127, 39670000, 700000, 18970000, 24400000, 9810000, 31639, 5310000, 10000, 28004, 78129, 5570000, 101894, 36390000, 83500000, 78660000, 62510000, 120180000, 158865, 72690000, 110500000, 68670000, 63450000, 32640000, 65010000, 100240000, 20830000, 67130000, 116930000, 56680000, 48170000, 66701, 67630000, 94269, 89260000, 59280000, 33560000, 18600000, 50730000, 70330000, 79210000, 14160000, 35447, 37600000, 58292, 31720000, 14570000, 34240000, 14330000, 27050000, 20000, 26180000, 19000000, 5960000, 18870000, 41260000, 9620000, 32060000, 100000, 15100000, 0, 31794, 90000, 70980000, 32027, 43250000, 35108, 35879, 2460000, 84925, 325100000, 213550000, 73650000, 82050000, 17290000, 402110000, 127150000, 32654, 45540000, 181170000, 25339, 142960, 69240000, 14900000, 31040000, 11650000, 74330000, 85360000, 18470000, 62680000, 34600000, 27370000, 37520000, 8050000, 37920000, 10960000, 27014, 95636, 5880000, 43910000, 46460000, 33020000, 44850000, 41125, 79820000, 10170000, 38230000, 49880000, 44070000, 35160000, 31141, 21630000, 91220000, 46710000, 23070000, 18570000, 28081, 16250000, 30720000, 15740000, 80820000, 6740000, 19820000, 5560000, 191200000, 49260, 65420000, 73210000, 2190000, 68420000, 166110000, 10640000, 1000000, 154409, 52410000, 163210000, 25223, 31170000, 3910000, 66470000, 70450000, 101200000, 55539, 60070000, 142110000, 49040000, 101700000, 168270000, 66890000, 45680000, 61859, 16059999, 31770000, 10910000, 45719, 53720000, 55581, 31760000, 26630000, 24010000, 10320000, 60130000, 98780000, 47600000, 47410000, 18940000, 31050000, 23800000, 34710000, 48750000, 23360000, 14050000, 20350000, 21160000, 500000, 16620000, 264576, 58592, 154700000, 31538, 780000, 180010000, 25190000, 152270000, 65849999, 20380000, 51495, 41943, 122520000, 21220000, 60670000, 131139999, 66180000, 12560000, 103860000, 82620000, 20490000, 30350000, 13290000, 49423, 83550000, 70230000, 12700000, 48550000, 22470000, 29140000, 83670000, 60000, 25480000, 35090000, 32850000, 10020000, 109310000, 26410000, 67170000, 40621, 17220000, 10510000, 9480000, 36595, 18000000, 50630000, 27492, 26106, 22190000, 35320000, 30210000, 15990000, 53238, 143010000, 376850000, 245440000, 40070, 78750000, 112720000, 125310000, 31850000, 26573, 132180000, 33655, 50700000, 100020000, 131919999, 80000000, 34300000, 59870000, 80280000, 54650000, 33620000, 113090000, 21230000, 33731, 0, 57360000, 16210000, 8010000, 19080000, 34690000, 19480000, 44594, 30100000, 27399, 12230000, 39199, 35013, 109345, 36380000, 51760000, 20400000, 31990000, 35920000, 8460000, 30160000, 20780000, 21600000, 35050000, 23040000, 27198, 25668, 2550000, 2350000, 58060000, 56172, 33317, 21600000, 34033, 63124, 105260000, 116600000, 91050000, 17320000, 34020000, 31190000, 109724, 49320000, 1230000, 23220000, 26830000, 65660000, 67060000, 33980, 42610000, 17220000, 7610000, 24050000, 52210000, 50020000, 300000, 22530000, 20710000, 40080000, 10280000, 44880000, 31240000, 8330000, 38080000, 25002, 29875, 35225, 25748, 63464, 80100000, 31150000, 184030000, 46370000, 10710000, 500000, 4059999, 136310000, 42551, 44540000, 7430000, 7100000, 47060000, 32236, 25860000, 7790000, 24830000, 44326, 24270000, 22940000, 5930000, 20000, 50550000, 15630000, 10230000, 23020000, 30000, 8840000, 1800000, 33560000, 8029999, 29239, 51020000, 81020000, 30820000, 23860000, 17340000, 40170000, 33700000, 102540000, 115800000, 47390000, 44810000, 28780000, 42350000, 85850000, 38960000, 49440000, 26410000, 40690000, 29000000, 30010000, 46414, 15280000, 26155, 32349, 130169999, 173200000, 73870000, 23290000, 21900000, 102490000, 17000000, 44900000, 180000, 103140000, 34920000, 15160000, 54970000, 28210000, 67350000, 38190000, 117560000, 69120000, 69490000, 20820000, 16030000, 22110000, 25890000, 10000, 34678, 19060000, 300530000, 21300000, 75030000, 6950000, 19080000, 94780000, 32119999, 47940000, 28090000, 93390000, 48480000, 119440000, 34510000, 14970000, 650000, 36266, 17800000, 56044, 59950000, 17300000, 29111, 10170000, 25049, 15030000, 14010000, 4830000, 65890000, 113810000, 100830000, 33020000, 3750000, 21430000, 8430000, 13980000, 39226, 42660000, 480000, 51833, 28101, 60520000, 11440000, 14380000, 25640000, 56847, 16300000, 19780000, 28850000, 24410000, 18840000, 32240000, 10540000, 45830000, 2510000, 27059, 2970000, 26640000, 26107, 41800000, 30880000, 32720000, 21370000, 36610000, 44172, 8910000, 39238, 19170000, 66930000, 30371, 26870000, 29370, 13120000, 71040000, 28410000, 37920000, 56120000, 111760000, 51770000, 18500000, 97400000, 15560000, 18850000, 10430000, 73945, 10700000, 21220000, 131560000, 33420000, 18870000, 48610000, 33866, 4420000, 107330000, 4540000, 23320000, 39180000, 15680000]

In [517]:
votte = []
for i in vottep:
    j = i.replace(',','')
    votte.append(j)

In [379]:
rating = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-imdb-rating"]')
    for i in title:
        i = i.text.strip()
        rating.append(float(i))
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()

100%|██████████| 35/35 [02:23<00:00,  4.10s/it]

In [380]:
dur = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in title:
        i = i.text.strip().replace("min"," ")
        dur.append(int(i))
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()
    time.sleep(3)

100%|██████████| 35/35 [04:04<00:00,  6.99s/it]

In [381]:
certificate = []
start = 0
end = 35

driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,"/html/body/div/div/div/div/div/div/div/div/div/div/p[1]")
    for i in title:
        i = i.text
        j = i.split("|")
        if len(j) == 2:
            certificate.append("Blank")
        else:
            certificate.append(j[0].strip())
certificate

100%|██████████| 35/35 [00:28<00:00,  1.24it/s]

['PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG',
 'TV-MA',
 'R',
 'PG',
 'Not Rated',
 'Not Rated',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'PG',
 'PG',
 'R',
 'R',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'PG-13',
 'R',
 'Approved',
 'PG',
 'PG-13',
 'Not Rated',
 'Not Rated',
 'UA',
 'Not Rated',
 'TV-14',
 'Not Rated',
 'PG-13',
 'PG-13',
 'PG-13',
 'R',
 'PG-13',
 'R',
 'R',
 'R',
 'R',
 'R',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 ...]

In [382]:
diectors = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    tts = driver.find_elements(By.XPATH,'//p[@class=""]')
    for i in tts:
        i = i.text.split("|")[0].replace("Director:", "")
        i = i.replace("Directors:", "")
        diectors.append(i.strip())
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()

100%|██████████| 35/35 [02:24<00:00,  4.12s/it]

In [383]:
len(diectors)

1750

In [384]:
import pandas as pd
df_director = pd.DataFrame({"Directors":diectors})

df_director[["Director-1","Director-2","Director-3","Director-4","Director-5","Director-6"]] = df_director.Directors.str.split(",", expand = True)
df_director.drop("Directors",axis=1,inplace=True)

In [385]:
stars = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    tts = driver.find_elements(By.XPATH,'//p[@class=""]')
    for i in tts:
        i = i.text.split("|")[-1].replace("Stars:"," ")
        i = i.replace("Stars:", " ")
        stars.append(i.strip())

100%|██████████| 35/35 [00:28<00:00,  1.22it/s]

In [386]:
import pandas as pd
df1 = pd.DataFrame({"Stars":stars})

df1[["Stars-1","Stars-2","Stars-3","Stars-4"]] = df1.Stars.str.split(",", expand = True)
df1.drop("Stars",axis=1,inplace=True)

In [387]:
Certifict = []
start = 0
end = 35
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,'//p[@class="text-muted "]')
    for i in title:
        i = i.text
        i = i.split("|")
        if len(i) == 2:
            Certifict.append("Blank")
        else:
            Certifict.append(i[0])
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()

100%|██████████| 35/35 [02:37<00:00,  4.49s/it]

In [388]:
mt = []
start = 0
end = 35

driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
for page in tqdm(range (start,end)):
    title = driver.find_elements(By.XPATH,'//div[@class="ratings-bar"]')
    for i in title:
        i = i.text.split()
        if len(i) == 3:
            mt.append("np.nan")
        else:
            mt.append(int(i[3]))
    next_button = driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
    next_button.click()

100%|██████████| 35/35 [02:33<00:00,  4.40s/it]

In [667]:
table_3 = pd.DataFrame({'S no':s_nos,'Movie':m_names})
table_3

       S no                                              Movie
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1745  1,746                                     Batman & Robin
1746  1,747      In the Name of the King: A Dungeon Siege Tale
1747  1,748                                       The Avengers
1748  1,749        The Adventures of Sharkboy and Lavagirl 3-D
1749  1,750                   Superman IV: The Quest for Peace

[1750 rows x 2 columns]

In [668]:
df4 ['S no'] = table_3['S no'].to_list()

In [669]:
df4

       Geners-1    Geners-2    Geners-3   S no
0        Action       Crime       Drama      1
1        Action   Adventure       Drama      2
2     Animation      Action   Adventure      3
3        Action   Adventure      Sci-Fi      4
4        Action   Adventure       Drama      5
...         ...         ...         ...    ...
1745     Action      Sci-Fi        None  1,746
1746     Action   Adventure     Fantasy  1,747
1747     Action   Adventure      Sci-Fi  1,748
1748     Action   Adventure      Comedy  1,749
1749     Action   Adventure      Sci-Fi  1,750

[1750 rows x 4 columns]

In [670]:
table_3 = table_3.merge(df4, how = 'right')
table_3

,S no,Movie,Geners-1,Geners-2,Geners-3
0,1,The Dark Knight,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,Animation,Action,Adventure
3,4,Inception,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,Action,Adventure,Drama
...,...,...,...,...,...
1745,"1,746",Batman & Robin,Action,Sci-Fi,None
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Action,Adventure,Fantasy
1747,"1,748",The Avengers,Action,Adventure,Sci-Fi
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Action,Adventure,Comedy
1749,"1,750",Superman IV: The Quest for Peace,Action,Adventure,Sci-Fi

In [671]:
df1

,Stars-1,Stars-2,Stars-3,Stars-4,S no
0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,1
1,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,2
2,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,3
3,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,4
4,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,5
...,...,...,...,...,...
1745,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka,Hiro Shimono,"1,746"
1746,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,"1,747"
1747,Toshirô Mifune,Eijirô Tôno,Tatsuya Nakadai,Yôko Tsukasa,"1,748"
1748,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,"1,749"
1749,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,"1,750"

In [672]:
df1 ['S no'] = table_3['S no'].to_list()

In [676]:
table_3 = table_3.merge(df1, how = 'right')
table_3

,S no,Movie,Geners-1,Geners-2,Geners-3,Stars-1,Stars-2,Stars-3,Stars-4
0,1,The Dark Knight,Action,Crime,Drama,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
1,2,The Lord of the Rings: The Return of the King,Action,Adventure,Drama,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom
2,3,Spider-Man: Across the Spider-Verse,Animation,Action,Adventure,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez
3,4,Inception,Action,Adventure,Sci-Fi,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe
4,5,The Lord of the Rings: The Fellowship of the Ring,Action,Adventure,Drama,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean
...,...,...,...,...,...,...,...,...,...
1745,"1,746",Batman & Robin,Action,Sci-Fi,None,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka,Hiro Shimono
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Action,Adventure,Fantasy,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha
1747,"1,748",The Avengers,Action,Adventure,Sci-Fi,Toshirô Mifune,Eijirô Tôno,Tatsuya Nakadai,Yôko Tsukasa
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Action,Adventure,Comedy,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois
1749,"1,750",Superman IV: The Quest for Peace,Action,Adventure,Sci-Fi,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia

In [677]:
others = pd.DataFrame({'S no':s_nos,'Vottes':votte,'Gross collection':converted_list,'Certification':Certifict})

In [679]:
others['Gross collection'] = pd.to_numeric(others['Gross collection'], errors='coerce')


table_3 = table_3.merge(others, how='right')

In [702]:
table_3

,S no,Movie,Geners-1,Geners-2,Geners-3,Stars-1,Stars-2,Stars-3,Stars-4,Vottes,Gross collection,Certification
0,1,The Dark Knight,Action,Crime,Drama,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2757417,534860000,PG-13
1,2,The Lord of the Rings: The Return of the King,Action,Adventure,Drama,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1905575,377850000,PG-13
2,3,Spider-Man: Across the Spider-Verse,Animation,Action,Adventure,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,200597,200597,PG
3,4,Inception,Action,Adventure,Sci-Fi,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2447920,292580000,PG-13
4,5,The Lord of the Rings: The Fellowship of the Ring,Action,Adventure,Drama,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1933786,315540000,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,"1,746",Batman & Robin,Action,Sci-Fi,None,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka,Hiro Shimono,261953,107330000,PG-13
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Action,Adventure,Fantasy,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,50342,4540000,PG-13
1747,"1,748",The Avengers,Action,Adventure,Sci-Fi,Toshirô Mifune,Eijirô Tôno,Tatsuya Nakadai,Yôko Tsukasa,44766,23320000,PG-13
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Action,Adventure,Comedy,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,40451,39180000,PG
1749,"1,750",Superman IV: The Quest for Peace,Action,Adventure,Sci-Fi,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,51223,15680000,PG

# 2 ND COLUMN

In [683]:
df_director

,Director-1,Director-2,Director-3,Director-4,Director-5,Director-6,S no
0,Christopher Nolan,None,None,None,None,None,1
1,Peter Jackson,None,None,None,None,None,2
2,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,None,None,None,3
3,Christopher Nolan,None,None,None,None,None,4
4,Peter Jackson,None,None,None,None,None,5
...,...,...,...,...,...,...,...
1745,Joel Schumacher,None,None,None,None,None,"1,746"
1746,Uwe Boll,None,None,None,None,None,"1,747"
1747,Jeremiah S. Chechik,None,None,None,None,None,"1,748"
1748,Robert Rodriguez,None,None,None,None,None,"1,749"
1749,Sidney J. Furie,None,None,None,None,None,"1,750"

In [684]:
ddd = pd.DataFrame({'S no':s_nos,})

In [685]:
df_director ['S no'] = ddd['S no'].to_list()

In [686]:
table_1 = pd.DataFrame({'S no':s_nos,'Movie':m_names,})
table_1

       S no                                              Movie
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1745  1,746                                     Batman & Robin
1746  1,747      In the Name of the King: A Dungeon Siege Tale
1747  1,748                                       The Avengers
1748  1,749        The Adventures of Sharkboy and Lavagirl 3-D
1749  1,750                   Superman IV: The Quest for Peace

[1750 rows x 2 columns]

In [687]:
table_1 = table_1.merge(df_director, how = 'right')
table_1

,S no,Movie,Director-1,Director-2,Director-3,Director-4,Director-5,Director-6
0,1,The Dark Knight,Christopher Nolan,None,None,None,None,None
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,None,None,None,None,None
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,None,None,None
3,4,Inception,Christopher Nolan,None,None,None,None,None
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,None,None,None,None,None
...,...,...,...,...,...,...,...,...
1745,"1,746",Batman & Robin,Joel Schumacher,None,None,None,None,None
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Uwe Boll,None,None,None,None,None
1747,"1,748",The Avengers,Jeremiah S. Chechik,None,None,None,None,None
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Robert Rodriguez,None,None,None,None,None
1749,"1,750",Superman IV: The Quest for Peace,Sidney J. Furie,None,None,None,None,None

In [688]:
others_2 = pd.DataFrame({'S no':s_nos,'Duration':dur,'Year':years,'Rating':rating,'Meta_score':mt})

In [689]:
table_1 = table_1.merge(others_2, how = 'right')
table_1

,S no,Movie,Director-1,Director-2,Director-3,Director-4,Director-5,Director-6,Duration,Year,Rating,Meta_score
0,1,The Dark Knight,Christopher Nolan,None,None,None,None,None,152,2008,9.0,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,None,None,None,None,None,201,2003,9.0,94
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,None,None,None,140,2023,8.9,86
3,4,Inception,Christopher Nolan,None,None,None,None,None,148,2010,8.8,74
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,None,None,None,None,None,178,2001,8.8,92
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,"1,746",Batman & Robin,Joel Schumacher,None,None,None,None,None,125,1997,3.8,28
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Uwe Boll,None,None,None,None,None,127,2007,3.8,15
1747,"1,748",The Avengers,Jeremiah S. Chechik,None,None,None,None,None,89,1998,3.8,12
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Robert Rodriguez,None,None,None,None,None,93,2005,3.7,38
1749,"1,750",Superman IV: The Quest for Peace,Sidney J. Furie,None,None,None,None,None,90,1987,3.7,24

In [690]:
table_1.to_csv("table_1.csv", index=False)

In [691]:
table_3.to_csv('table_3.csv',index=False)

# PHASE 2

# NOW SQL DBMS TASK

In [692]:
import sqlite3
dbcon = sqlite3.connect("movie_database.db")

In [693]:
cur = dbcon.cursor()
df_table1 = pd.read_csv('table_1.csv')
df_table2 = pd.read_csv('table_3.csv')

In [703]:
df_table2

,S no,Movie,Geners-1,Geners-2,Geners-3,Stars-1,Stars-2,Stars-3,Stars-4,Vottes,Gross collection,Certification
0,1,The Dark Knight,Action,Crime,Drama,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2757417,534860000,PG-13
1,2,The Lord of the Rings: The Return of the King,Action,Adventure,Drama,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1905575,377850000,PG-13
2,3,Spider-Man: Across the Spider-Verse,Animation,Action,Adventure,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,200597,200597,PG
3,4,Inception,Action,Adventure,Sci-Fi,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2447920,292580000,PG-13
4,5,The Lord of the Rings: The Fellowship of the Ring,Action,Adventure,Drama,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1933786,315540000,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,"1,746",Batman & Robin,Action,Sci-Fi,NaN,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka,Hiro Shimono,261953,107330000,PG-13
1746,"1,747",In the Name of the King: A Dungeon Siege Tale,Action,Adventure,Fantasy,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,50342,4540000,PG-13
1747,"1,748",The Avengers,Action,Adventure,Sci-Fi,Toshirô Mifune,Eijirô Tôno,Tatsuya Nakadai,Yôko Tsukasa,44766,23320000,PG-13
1748,"1,749",The Adventures of Sharkboy and Lavagirl 3-D,Action,Adventure,Comedy,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,40451,39180000,PG
1749,"1,750",Superman IV: The Quest for Peace,Action,Adventure,Sci-Fi,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,51223,15680000,PG

In [704]:
df_table1.to_sql('table1_data', conn, if_exists='replace', index=False)
df_table2.to_sql('table2_data', conn, if_exists='replace', index=False)

1750

# table 1 quiry

In [705]:
query1 = """
SELECT * FROM table1_data
WHERE "Director-1" IN ('Christopher Nolan', 'Matt Reeves')
OR "Director-2" IN ('Christopher Nolan', 'Matt Reeves') 
OR "Director-3" IN ('Christopher Nolan', 'Matt Reeves')
OR "Director-4" IN ('Christopher Nolan', 'Matt Reeves')
OR "Director-5" IN ('Christopher Nolan', 'Matt Reeves')
OR "Director-6" IN ('Christopher Nolan', 'Matt Reeves');
"""
result2 = pd.read_sql_query(query1, conn)
print("Query 1:")
print(result2)

Query 1:
  S no                           Movie         Director-1 Director-2  \
0    1                 The Dark Knight  Christopher Nolan       None
1    4                       Inception  Christopher Nolan       None
2   17           The Dark Knight Rises  Christopher Nolan       None
3   37                   Batman Begins  Christopher Nolan       None
4  130                         Dunkirk  Christopher Nolan       None
5  132                      The Batman        Matt Reeves       None
6  226  Dawn of the Planet of the Apes        Matt Reeves       None
7  312  War for the Planet of the Apes        Matt Reeves       None
8  325                           Tenet  Christopher Nolan       None
9  521                     Cloverfield        Matt Reeves       None

  Director-3 Director-4 Director-5 Director-6  Duration  Year  Rating  \
0       None       None       None       None       152  2008     9.0
1       None       None       None       None       148  2010     8.8
2       None       None       None       None       164  2012     8.4
3       None       None       None       None       140  2005     8.2
4       None       None       None       None       106  2017     7.8
5       None       None       None       None       176  2022     7.8
6       None       None       None       None       130  2014     7.6
7       None       None       None       None       140  2017     7.4
8       None       None       None       None       150  2020     7.3
9       None       None       None       None        85  2008     7.0

  Meta_score
0         84
1         74
2         78
3         70
4         94
5         72
6         79
7         82
8         69
9         64

In [706]:
query2 = """
SELECT * FROM table1_data
WHERE Duration BETWEEN 140 AND 190;
"""
result2 = pd.read_sql_query(query2, dbcon)
print("Query 2:")
print(result2)

Query 2:
      S no                                              Movie  \
0        1                                    The Dark Knight
1        3                Spider-Man: Across the Spider-Verse
2        4                                          Inception
3        5  The Lord of the Rings: The Fellowship of the Ring
4        6              The Lord of the Rings: The Two Towers
..     ...                                                ...
198  1,698                                          Shamshera
199  1,707                                             Ra.One
200  1,709                                             Bharat
201  1,719                          Kisi Ka Bhai Kisi Ki Jaan
202  1,722                                           Shehzada

             Director-1    Director-2           Director-3 Director-4  \
0     Christopher Nolan          None                 None       None
1    Joaquim Dos Santos   Kemp Powers   Justin K. Thompson       None
2     Christopher Nolan          None                 None       None
3         Peter Jackson          None                 None       None
4         Peter Jackson          None                 None       None
..                  ...           ...                  ...        ...
198      Karan Malhotra          None                 None       None
199       Anubhav Sinha          None                 None       None
200     Ali Abbas Zafar          None                 None       None
201        Farhad Samji          None                 None       None
202        Rohit Dhawan          None                 None       None

    Director-5 Director-6  Duration  Year  Rating Meta_score
0         None       None       152  2008     9.0         84
1         None       None       140  2023     8.9         86
2         None       None       148  2010     8.8         74
3         None       None       178  2001     8.8         92
4         None       None       179  2002     8.8         87
..         ...        ...       ...   ...     ...        ...
198       None       None       178  2022     4.8     np.nan
199       None       None       156  2011     4.7         60
200       None       None       150  2019     4.7     np.nan
201       None       None       145  2023     4.5     np.nan
202       None       None       142  2023     4.5     np.nan

[203 rows x 12 columns]

In [707]:
query3 = """
SELECT * FROM table1_data
WHERE Rating > 7
ORDER BY Rating ASC;
"""
result3 = pd.read_sql_query(query3, dbcon)
print("Query 3:")
print(result3)

Query 3:
    S no                                              Movie  \
0    435                                Mission: Impossible
1    436                                          The Mummy
2    437                                       Man of Steel
3    438                                      American Made
4    439                                           WarGames
..   ...                                                ...
488    5  The Lord of the Rings: The Fellowship of the Ring
489    6              The Lord of the Rings: The Two Towers
490    3                Spider-Man: Across the Spider-Verse
491    1                                    The Dark Knight
492    2      The Lord of the Rings: The Return of the King

             Director-1    Director-2           Director-3 Director-4  \
0        Brian De Palma          None                 None       None
1       Stephen Sommers          None                 None       None
2           Zack Snyder          None                 None       None
3            Doug Liman          None                 None       None
4           John Badham          None                 None       None
..                  ...           ...                  ...        ...
488       Peter Jackson          None                 None       None
489       Peter Jackson          None                 None       None
490  Joaquim Dos Santos   Kemp Powers   Justin K. Thompson       None
491   Christopher Nolan          None                 None       None
492       Peter Jackson          None                 None       None

    Director-5 Director-6  Duration  Year  Rating Meta_score
0         None       None       110  1996     7.1         59
1         None       None       124  1999     7.1         48
2         None       None       143  2013     7.1         55
3         None       None       115  2017     7.1         65
4         None       None       114  1983     7.1         77
..         ...        ...       ...   ...     ...        ...
488       None       None       178  2001     8.8         92
489       None       None       179  2002     8.8         87
490       None       None       140  2023     8.9         86
491       None       None       152  2008     9.0         84
492       None       None       201  2003     9.0         94

[493 rows x 12 columns]

In [708]:
query4 = """
SELECT "Movie" FROM table1_data
ORDER BY "Movie" DESC;
"""
result4 = pd.read_sql_query(query4, dbcon)
print("Query 4:")
print(result4)

Query 4:
                           Movie
0                       Æon Flux
1        xXx: State of the Union
2     xXx: Return of Xander Cage
3                            xXx
4                    Zoolander 2
...                          ...
1745                   12 Strong
1746                   12 Rounds
1747                   10,000 BC
1748                         '71
1749                      #Alive

[1750 rows x 1 columns]

In [709]:
query5 = """
SELECT "Movie","Rating" FROM table1_data
WHERE "Movie" LIKE 'P%' AND Rating > 7;
"""
result5 = pd.read_sql_query(query5, dbcon)
print("Query 5:")
print(result5)

Query 5:
                                                Movie  Rating
0                                   Princess Mononoke     8.3
1                                    Paan Singh Tomar     8.2
2   Pirates of the Caribbean: The Curse of the Bla...     8.1
3                                            Predator     7.8
4                           Pushpa: The Rise - Part 1     7.6
5                             Ponniyin Selvan: Part I     7.6
6                                        Police Story     7.5
7          Pirates of the Caribbean: Dead Man's Chest     7.4
8                                  Predestination (I)     7.4
9                                        Patriots Day     7.3
10                                        Point Break     7.2
11                                           Prey (I)     7.1
12           Pirates of the Caribbean: At World's End     7.1
13                                        Payback (I)     7.1

# table 2 quiry

In [710]:
query1 = """
SELECT "Movie" FROM table2_data
WHERE "Stars-1" LIKE ('Arnold Schwarzenegger')
OR "Stars-2" LIKE ('Arnold Schwarzenegger')
OR "Stars-3" LIKE ('Arnold Schwarzenegger')
OR "Stars-4" LIKE ('Arnold Schwarzenegger') ORDER BY "Movie";
"""
result1 = pd.read_sql_query(query1, conn)
print("Query 1:")
print(result1)

Query 1:
                                             Movie
0                                        10,000 BC
1                                     Babylon A.D.
2                     Batman: Mask of the Phantasm
3                                     Blade Runner
4                                       Colombiana
5                                   Demolition Man
6                                        Desperado
7                               Enemy at the Gates
8                                 Escape from L.A.
9                               Executive Decision
10                                        Iron Man
11                                 Kung Fu Panda 2
12                                          Legion
13                                  Man of Tai Chi
14                                    Passenger 57
15  Pokémon: The First Movie - Mewtwo Strikes Back
16                                        Red Dawn
17                                         RoboCop
18                                     Speed Racer
19                                        Stargate
20                                          Sultan
21                                 Superhero Movie
22                                     Superman II
23                      Terminator 2: Judgment Day
24                        The Adventures of Tintin
25                              The Black Cauldron
26                 The Divergent Series: Insurgent
27                                        The Host
28                   The Lost World: Jurassic Park
29                               The Monster Squad
30                                        Timeline
31                                           U-571
32                                           Venom
33                            Welcome to the Punch
34                                X2: X-Men United

In [711]:
query2 = """
SELECT *
FROM table2_data
WHERE Vottes = (SELECT MAX(Vottes) FROM table2_data);
"""
result2 = pd.read_sql_query(query2, conn)
print("Query 2:")
print(result2)

Query 2:
  S no            Movie Geners-1 Geners-2 Geners-3         Stars-1  \
0    1  The Dark Knight   Action    Crime    Drama  Christian Bale

         Stars-2         Stars-3         Stars-4   Vottes  Gross collection  \
0   Heath Ledger   Aaron Eckhart   Michael Caine  2757417         534860000

  Certification
0        PG-13

In [712]:
query2 = """
SELECT "Vottes" FROM table2_data ORDER BY "Vottes";
"""
result2 = pd.read_sql_query(query2, conn)
print("Query 2:")
print(result2)

Query 2:
       Vottes
0       25002
1       25032
2       25039
3       25049
4       25049
...       ...
1745  1905575
1746  1933786
1747  1978134
1748  2447920
1749  2757417

[1750 rows x 1 columns]

In [713]:
query3 = """
SELECT "Movie"
FROM table2_data
ORDER BY "Gross collection" DESC;
"""
result3 = pd.read_sql_query(query3, conn)
print("Query 3:")
print(result3)

Query 3:
                                           Movie
0     Star Wars: Episode VII - The Force Awakens
1                              Avengers: Endgame
2                        Spider-Man: No Way Home
3                                         Avatar
4                              Top Gun: Maverick
...                                          ...
1745                           Mutant Chronicles
1746                   Knockin' on Heaven's Door
1747                                Son of a Gun
1748                               The Condemned
1749                                   Wild Card

[1750 rows x 1 columns]

In [714]:
query4 = """
SELECT "Movie", "Gross collection"
FROM table2_data
WHERE "Stars-1" IN ('Arnold Schwarzenegger')
OR "Stars-2" IN ('Arnold Schwarzenegger')
OR "Stars-3" IN ('Arnold Schwarzenegger')
OR "Stars-4" IN ('Arnold Schwarzenegger');
"""
result4 = pd.read_sql_query(query4, conn)
print("Query 4:")
print(result4)

Query 4:
                                             Movie  Gross collection
0                       Terminator 2: Judgment Day         204840000
1                                     Blade Runner          32869999
2                                         Iron Man         318410000
3                     Batman: Mask of the Phantasm           5620000
4                                          RoboCop          53420000
5                               Enemy at the Gates          51400000
6                                 X2: X-Men United         214950000
7                         The Adventures of Tintin          77590000
8                                  Kung Fu Panda 2         165250000
9                                        Desperado          25630000
10                                        Stargate          71570000
11                                          Sultan           6200000
12                               The Monster Squad           3770000
13                                     Superman II         108190000
14                                  Demolition Man          58060000
15                                           Venom         213520000
16                                           U-571          77090000
17                   The Lost World: Jurassic Park         229090000
18                              Executive Decision          56570000
19                                      Colombiana          36670000
20                                        Red Dawn          38380000
21                              The Black Cauldron          21290000
22                 The Divergent Series: Insurgent         130180000
23  Pokémon: The First Movie - Mewtwo Strikes Back          85740000
24                                     Speed Racer          43950000
25                            Welcome to the Punch             10000
26                                  Man of Tai Chi            100000
27                                    Passenger 57          44070000
28                                        The Host          26630000
29                                Escape from L.A.          25480000
30                                        Timeline          19480000
31                                    Babylon A.D.          22530000
32                                          Legion          40170000
33                                       10,000 BC          94780000
34                                 Superhero Movie          26640000

In [715]:
query5 = """
SELECT * FROM table2_data
WHERE "Geners-1" IN ('Comedy','Action')
OR "Geners-2" IN ('Comedy','Action')
OR "Geners-3" IN ('Comedy','Action');
"""
result5 = pd.read_sql_query(query5, conn)
print("Query 5:")
print(result5)

Query 5:
       S no                                              Movie Geners-1  \
0         1                                    The Dark Knight   Action
1         2      The Lord of the Rings: The Return of the King   Action
2         4                                          Inception   Action
3         5  The Lord of the Rings: The Fellowship of the Ring   Action
4         6              The Lord of the Rings: The Two Towers   Action
...     ...                                                ...      ...
1674  1,746                                     Batman & Robin   Action
1675  1,747      In the Name of the King: A Dungeon Siege Tale   Action
1676  1,748                                       The Avengers   Action
1677  1,749        The Adventures of Sharkboy and Lavagirl 3-D   Action
1678  1,750                   Superman IV: The Quest for Peace   Action

        Geners-2  Geners-3            Stars-1                Stars-2  \
0          Crime     Drama     Christian Bale           Heath Ledger
1      Adventure     Drama        Elijah Wood        Viggo Mortensen
2      Adventure    Sci-Fi  Leonardo DiCaprio   Joseph Gordon-Levitt
3      Adventure     Drama        Elijah Wood           Ian McKellen
4      Adventure     Drama        Elijah Wood           Ian McKellen
...          ...       ...                ...                    ...
1674      Sci-Fi      None      Natsuki Hanae             Akari Kitô
1675   Adventure   Fantasy     Manoj Bajpayee    Nawazuddin Siddiqui
1676   Adventure    Sci-Fi     Toshirô Mifune            Eijirô Tôno
1677   Adventure    Comedy               Yash        Srinidhi Shetty
1678   Adventure    Sci-Fi            Prabhas         Rana Daggubati

                   Stars-3            Stars-4   Vottes  Gross collection  \
0            Aaron Eckhart      Michael Caine  2757417         534860000
1             Ian McKellen      Orlando Bloom  1905575         377850000
2              Elliot Page       Ken Watanabe  2447920         292580000
3            Orlando Bloom          Sean Bean  1933786         315540000
4          Viggo Mortensen      Orlando Bloom  1719556         342550000
...                    ...                ...      ...               ...
1674   Yoshitsugu Matsuoka       Hiro Shimono   261953         107330000
1675      Tigmanshu Dhulia       Richa Chadha    50342           4540000
1676       Tatsuya Nakadai       Yôko Tsukasa    44766          23320000
1677      Ramachandra Raju       Archana Jois    40451          39180000
1678        Anushka Shetty   Tamannaah Bhatia    51223          15680000

     Certification
0           PG-13
1           PG-13
2           PG-13
3           PG-13
4           PG-13
...            ...
1674        PG-13
1675        PG-13
1676        PG-13
1677           PG
1678           PG

[1679 rows x 12 columns]

# sub query

In [716]:
query1 = """
SELECT *
FROM table1_data 
JOIN table2_data ON table1_data."Movie" = table2_data."Movie";
"""
result1 = pd.read_sql_query(query1, conn)
print("Query 1:")
print(result1)

Query 1:
       S no                                              Movie  \
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1799  1,747      In the Name of the King: A Dungeon Siege Tale
1800  1,748                                       The Avengers
1801  1,748                                       The Avengers
1802  1,749        The Adventures of Sharkboy and Lavagirl 3-D
1803  1,750                   Superman IV: The Quest for Peace

               Director-1    Director-2           Director-3 Director-4  \
0       Christopher Nolan          None                 None       None
1           Peter Jackson          None                 None       None
2      Joaquim Dos Santos   Kemp Powers   Justin K. Thompson       None
3       Christopher Nolan          None                 None       None
4           Peter Jackson          None                 None       None
...                   ...           ...                  ...        ...
1799             Uwe Boll          None                 None       None
1800  Jeremiah S. Chechik          None                 None       None
1801  Jeremiah S. Chechik          None                 None       None
1802     Robert Rodriguez          None                 None       None
1803      Sidney J. Furie          None                 None       None

     Director-5 Director-6  Duration  Year  ...   Geners-1    Geners-2  \
0          None       None       152  2008  ...     Action       Crime
1          None       None       201  2003  ...     Action   Adventure
2          None       None       140  2023  ...  Animation      Action
3          None       None       148  2010  ...     Action   Adventure
4          None       None       178  2001  ...     Action   Adventure
...         ...        ...       ...   ...  ...        ...         ...
1799       None       None       127  2007  ...     Action   Adventure
1800       None       None        89  1998  ...     Action   Adventure
1801       None       None        89  1998  ...     Action      Sci-Fi
1802       None       None        93  2005  ...     Action   Adventure
1803       None       None        90  1987  ...     Action   Adventure

        Geners-3            Stars-1                Stars-2  \
0          Drama     Christian Bale           Heath Ledger
1          Drama        Elijah Wood        Viggo Mortensen
2      Adventure      Shameik Moore       Hailee Steinfeld
3         Sci-Fi  Leonardo DiCaprio   Joseph Gordon-Levitt
4          Drama        Elijah Wood           Ian McKellen
...          ...                ...                    ...
1799     Fantasy     Manoj Bajpayee    Nawazuddin Siddiqui
1800      Sci-Fi     Toshirô Mifune            Eijirô Tôno
1801        None     Christian Bale          Michael Caine
1802      Comedy               Yash        Srinidhi Shetty
1803      Sci-Fi            Prabhas         Rana Daggubati

                 Stars-3             Stars-4   Vottes Gross collection  \
0          Aaron Eckhart       Michael Caine  2757417        534860000
1           Ian McKellen       Orlando Bloom  1905575        377850000
2      Brian Tyree Henry   Luna Lauren Velez   200597           200597
3            Elliot Page        Ken Watanabe  2447920        292580000
4          Orlando Bloom           Sean Bean  1933786        315540000
...                  ...                 ...      ...              ...
1799    Tigmanshu Dhulia        Richa Chadha    50342          4540000
1800     Tatsuya Nakadai        Yôko Tsukasa    44766         23320000
1801        Ken Watanabe         Liam Neeson  1426939        623280000
1802    Ramachandra Raju        Archana Jois    40451         39180000
1803      Anushka Shetty    Tamannaah Bhatia    51223         15680000

     Certification
0           PG-13
1           PG-13
2              PG
3           PG-13
4           PG-13
...            ...
1799        PG-13
1800        PG-13
1801        PG-13
1802           PG
1803           PG

[1804 rows x 24 columns]

In [717]:
query2 = """
SELECT table1_data."Movie",table1_data."Director-1",table1_data."Director-2",table1_data."Director-3",table1_data."Director-4",table1_data."Director-5",table1_data."Director-6",table1_data."Rating",table2_data."Gross collection"
FROM table1_data 
JOIN table2_data ON table1_data."Movie" = table2_data."Movie" 
WHERE table2_data."Geners-1" = 'Action'
OR table2_data."Geners-2" = 'Action'
OR table2_data."Geners-3" = 'Action';
"""
result2 = pd.read_sql_query(query2 , conn)
print("Query2:")
print(result2)

Query2:
                                                  Movie           Director-1  \
0                                       The Dark Knight    Christopher Nolan
1         The Lord of the Rings: The Return of the King        Peter Jackson
2                                             Inception    Christopher Nolan
3     The Lord of the Rings: The Fellowship of the Ring        Peter Jackson
4                 The Lord of the Rings: The Two Towers        Peter Jackson
...                                                 ...                  ...
1727      In the Name of the King: A Dungeon Siege Tale             Uwe Boll
1728                                       The Avengers  Jeremiah S. Chechik
1729                                       The Avengers          Joss Whedon
1730        The Adventures of Sharkboy and Lavagirl 3-D     Robert Rodriguez
1731                   Superman IV: The Quest for Peace      Sidney J. Furie

     Director-2 Director-3 Director-4 Director-5 Director-6  Rating  \
0          None       None       None       None       None     9.0
1          None       None       None       None       None     9.0
2          None       None       None       None       None     8.8
3          None       None       None       None       None     8.8
4          None       None       None       None       None     8.8
...         ...        ...        ...        ...        ...     ...
1727       None       None       None       None       None     3.8
1728       None       None       None       None       None     3.8
1729       None       None       None       None       None     8.0
1730       None       None       None       None       None     3.7
1731       None       None       None       None       None     3.7

      Gross collection
0            534860000
1            377850000
2            292580000
3            315540000
4            342550000
...                ...
1727           4540000
1728          23320000
1729          23320000
1730          39180000
1731          15680000

[1732 rows x 9 columns]

In [724]:
query3 = """
SELECT *
FROM table1_data 
JOIN table2_data ON table1_data."Movie" = table2_data."Movie"
WHERE table2_data."Gross collection" = (SELECT MAX("Gross collection") FROM table2_data);
"""
result3 = pd.read_sql_query(query3, conn)
print("Query 3:")
print(result3)

Query 3:
  S no                                       Movie   Director-1 Director-2  \
0  143  Star Wars: Episode VII - The Force Awakens  J.J. Abrams       None

  Director-3 Director-4 Director-5 Director-6  Duration  Year  ...  Geners-1  \
0       None       None       None       None       138  2015  ...    Action

     Geners-2 Geners-3       Stars-1           Stars-2         Stars-3  \
0   Adventure   Sci-Fi  Hugo Weaving   Natalie Portman   Rupert Graves

        Stars-4  Vottes Gross collection Certification
0   Stephen Rea  953123        936660000        PG-13

[1 rows x 24 columns]

In [725]:
query4 = """
SELECT *
FROM table1_data
JOIN table2_data ON table1_data."Movie" = table2_data."Movie"
WHERE table1_data.Rating = (SELECT MAX(Rating) FROM table1_data);
"""
result4 = pd.read_sql_query(query4, conn)
print("Query 4:")
print(result4)

Query 4:
  S no                                          Movie         Director-1  \
0    1                                The Dark Knight  Christopher Nolan
1    2  The Lord of the Rings: The Return of the King      Peter Jackson

  Director-2 Director-3 Director-4 Director-5 Director-6  Duration  Year  ...  \
0       None       None       None       None       None       152  2008  ...
1       None       None       None       None       None       201  2003  ...

   Geners-1    Geners-2 Geners-3         Stars-1           Stars-2  \
0    Action       Crime    Drama  Christian Bale      Heath Ledger
1    Action   Adventure    Drama     Elijah Wood   Viggo Mortensen

          Stars-3         Stars-4   Vottes Gross collection Certification
0   Aaron Eckhart   Michael Caine  2757417        534860000        PG-13
1    Ian McKellen   Orlando Bloom  1905575        377850000        PG-13

[2 rows x 24 columns]

In [726]:
query5 = """
SELECT *
FROM table1_data JOIN table2_data ON table1_data."Movie" = table2_data."Movie"
WHERE table2_data."Gross collection" = (SELECT MIN("Gross collection") FROM table2_data)
OR table1_data.Rating = (SELECT MIN(Rating) FROM table1_data);
"""
result5 = pd.read_sql_query(query5, conn)
print("Query 5:")
print(result5)

Query 5:
    S no                                        Movie        Director-1  \
0    165                    Knockin' on Heaven's Door       Thomas Jahn
1    999                                 Son of a Gun      Julius Avery
2  1,312                                The Condemned       Scott Wiper
3  1,504                                    Wild Card        Simon West
4  1,749  The Adventures of Sharkboy and Lavagirl 3-D  Robert Rodriguez
5  1,750             Superman IV: The Quest for Peace   Sidney J. Furie

  Director-2 Director-3 Director-4 Director-5 Director-6  Duration  Year  ...  \
0       None       None       None       None       None        87  1997  ...
1       None       None       None       None       None       108  2014  ...
2       None       None       None       None       None       113  2007  ...
3       None       None       None       None       None        92  2015  ...
4       None       None       None       None       None        93  2005  ...
5       None       None       None       None       None        90  1987  ...

   Geners-1    Geners-2   Geners-3            Stars-1                Stars-2  \
0    Action       Crime     Comedy      Russell Crowe        Joaquin Phoenix
1    Action       Crime      Drama               Yash        Srinidhi Shetty
2    Action       Crime   Thriller     Toshirô Mifune        Takashi Shimura
3    Action       Crime      Drama  Leonardo DiCaprio   Joseph Gordon-Levitt
4    Action   Adventure     Comedy               Yash        Srinidhi Shetty
5    Action   Adventure     Sci-Fi            Prabhas         Rana Daggubati

             Stars-3            Stars-4 Vottes Gross collection Certification
0     Connie Nielsen        Oliver Reed  32425                0    Not Rated
1   Ramachandra Raju       Archana Jois  28985                0            R
2     Keiko Tsushima   Yukiko Shimazaki  53644                0            R
3        Elliot Page       Ken Watanabe  58230                0            R
4   Ramachandra Raju       Archana Jois  40451         39180000           PG
5     Anushka Shetty   Tamannaah Bhatia  51223         15680000           PG

[6 rows x 24 columns]